@media only screen and (min-width:2100px){


}

@media only screen and (min-width:1600px) and (max-width:2047px){






}

@media only screen and (min-width:1440px) and (max-width:1599px){



}

@media only screen and (min-width:1246px) and (max-width:1439px){

}

@media only screen and (min-width:1171px) and (max-width:1245px){



}

@media only screen and (min-width:960px) and (max-width:1169px){

.wrapper {
	width: auto;
	padding: 0 10px;
	overflow: hidden;
}

.innerPg_bn {
	background: url(../images/banner.png);
	background-size: 111%;
	background-repeat: no-repeat;
	height: 740px;
}
.header.solid .logo img {
	width: 180px;
	margin-top: 0;
	padding-top: 0;
}
.icon {
	top: -11px !important;
	right: 0 !important;
}

.caption {
	width: 460px;
}

.logos {
	width: 992px;
	float: right;
	margin-top: 20px;
}

.laptop img {
	width: 50% !important;
	float: right !important;
	margin: 0 auto !important;
	left: 0;
}

.intro {
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 80px;
	background: url(../images/svg_bg.png) no-repeat 0 0, url(../images/svg_bg_logo.png) no-repeat 100% 0;
}

.intro ul li {
	width: 16.3%;
}
.intro ul li a {
	width: auto;
	
}
.intro ul li p {
	height: 144px;
}

.tokens {
	height: 702px;
}
.tokens h2 {
	padding-top: 154px;
}


.staking {
	overflow: hidden;
	padding: 90px 0;
	background: url(../images/svg_bg_logo_2.png) no-repeat 0 0, url(../images/svg_bg_2.png) no-repeat 100% 0;
}

.staking ul li {
	width: 24.3%;
}

.spiral {
	background: url(../images/spiral.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}
.spiral h2 {
	padding-top: 144px;
	
}
.spiral .spiral_details {
	margin: 70px 0 160px 0;
}
.spiral .spiral_details img {
	width: 100%;

}
.road_map {
	overflow: hidden;
	padding: 70px 0 0 0;
}

.token_1 {
	margin-top: -110px;
}

.team ul li {
	width: 18%;
}
.team ul li a li {
	margin: 0px;
}
.investor {
	overflow: hidden;
	padding: 80px 0;
	background: url(../images/svg_bg_3.png) no-repeat 0 0;
}
.investor ul li {
	width: 24%;
}
.partnership {
	background-size: 100%;
	height: 625px;
}
.partnership h2 {
	padding-top: 100px;
}

.partnership ul li {
	width: 22.3%;
	display: inline-block;
	margin-right: 20px;
	margin-top: 7px;
}

.partnership .more {
	margin: 30px auto;
	padding: 15px 23px;
	width: 18%;
	border-radius: 30px;

}
.say {
	overflow: hidden;
	padding: 70px 0;
	background: url(../images/svg_bg_logo_6.png) no-repeat 0 0, url(../images/svg_bg_logo_3.png) no-repeat 100% 0;
}

.say ul li:nth-child(2) {
	width: 42%;
}
.say ul li:nth-child(3) {
	width: 42%;
}
.say ul li .say_bg .say__details {
	float: right;
	width: 61%;
}

.community {
	height: 715px;
}
.community h6 {
	padding-top: 97px;
}

.header.menu .nav_menu ul li {

    margin-bottom: 15x;

}
.header .nav_menu ul li {
   margin-bottom: 10px;
}
.header .nav_menu ul li a {
	 font-size: 17px;
}

.logos ul li {
	display: inline-block;
	padding: 0 62px 0px;
	margin-top: 67px;
}


.intro p {
	width: auto;
	margin: 0 auto;
}
#ut-overlay-nav ul > li {
	opacity: 1;
	font-size: 34px !important;
	line-height: 150%;
	text-transform: uppercase;
}
#fixed-social {
	position: fixed;
	top: 183px;
}

#bklyn_btn_5b4ef70dafaad a {
	padding-top: 12px;
	padding-right: 0 !important;;
	padding-bottom: 12px;
	padding-left: 0 !important;;
}
#bklyn_btn_5b4ef70daa3a0 a {
	padding-top: 14px;
	padding-right: 0 !important;;
	padding-bottom: 14px;
	padding-left: 0 !important;;
}
.ut-btn-group-pat {
	display: inline-block;
	width: 100%;
	margin-top: 40px !important;
}
}

@media only screen and (min-width:769px) and (max-width:959px){


.wrapper{
	width:auto;
	padding:0 10px;
	overflow:hidden;
}

.innerPg_bn {
	background: url(../images/banner.png);
	background-size: 111%;
	background-repeat: no-repeat;
	height: 580px;
}
.header.solid .logo img {
	width: 180px;
	margin-top: 0;
	padding-top: 0;
}
.captionBox {
	padding: 125px 0 0 0;
}
.caption {
	display: table;
	margin: 0 auto;
	width: 370px;
	float: left;
	margin-top: 40px;
}

.caption h1 {
	font-size: 30px;
	line-height: 39px;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
}

.logos {
	width: auto;
	float: left;
	margin-top: 20px;
}

.logos ul li {
	display: inline-block;
	padding: 0 32px 0px;
	margin-top: 37px;
}
.laptop img {
	width: 50% !important;
	float: right !important;
	margin: 0 auto !important;
	left: 0;
}

.intro {
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 80px;
	background: url(../images/svg_bg.png) no-repeat 0 0, url(../images/svg_bg_logo.png) no-repeat 100% 0;
	padding-top: 60px;
}
.intro p {
	text-align: center;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #7b7a7a;
	font-weight: 400;
	width: auto;
	margin: 0 auto;
}
.intro ul li {
	width: 40.3%;
	margin-bottom: 20px;
}
.intro ul li:nth-child(2){
	margin-right:0;}
.intro ul li:last-child{
	margin-right:0;}	
.intro ul li a {
	width: auto;
	
}
.intro ul li p {
	height: 144px;
}

.tokens {
	height: 454px;
	background-size: 100%;
}
.tokens h2 {
    padding-top: 74px;
}
.tokens ul li {
	width: 32%;
	display: inline-block;
	text-align: center;
	margin-top: 17px;
	vertical-align: top;
}

.tokens ul li img {
    width: 40%;
}
.staking {
	overflow: hidden;
	padding: 90px 0;
	background: url(../images/svg_bg_logo_2.png) no-repeat 0 0, url(../images/svg_bg_2.png) no-repeat 100% 0;
}

.staking ul li {
	width: 22.3%;
}

.staking ul li p {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #638cd4;
	font-weight: 500;
	height: 138px;
	display: block;
	vertical-align: top;
}

#sync2 .item .connector{
	background:none;
}
.col-md-6 {
	float: none;
	width: auto;
}
.spiral {
	background: url(../images/spiral.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}
.spiral h2 {
	padding-top: 144px;
	
}
.spiral .spiral_details {
	margin: 70px 0 160px 0;
}
.spiral .spiral_details img {
	width: 100%;

}
.road_map {
	overflow: hidden;
	padding: 70px 0 0 0;
}

.token_1 {
	margin-top: -110px;
}

.video_src {
	width: auto;
	float: none;
	margin: 60px 0;
}
.pai {
	width: 50%;
	margin: 0 auto;
	float: none;
	text-align: center;
	display: block;
}
.pai ul {
	margin-top: 0;
	margin-left: 0;
}


.team {
	background: #071741 url(../images/team_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1790px;
}
.team h2 {
	padding-top: 57px;
	
}

.team ul li {
	width: auto;
	margin-right: 0;
}
.team ul li ul {
	text-align: center;
}

.team ul li a li {
    margin: 5px;
}
.investor {
	overflow: hidden;
	padding: 80px 0;
	background: url(../images/svg_bg_3.png) no-repeat 0 0;
}
.investor ul li {
    width: 32%;
}

.partnership {
	background: #071741 url(../images/partnership.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
}
.partnership h2 {
	padding-top: 100px;
}

.partnership ul li {
	width: 46.3%;
	display: inline-block;
	margin-right: 25px;
	margin-top: 7px;
	margin-bottom: 23px;
}

.partnership .more {
	margin: 30px auto;
	padding: 15px 23px;
	width: 32%;
	border-radius: 30px;
	margin-bottom: 60px;
}
.say {
	overflow: hidden;
	padding: 70px 0;
	background: url(../images/svg_bg_logo_6.png) no-repeat 0 0, url(../images/svg_bg_logo_3.png) no-repeat 100% 0;
}

.say ul li {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	margin-right:0;
	margin-top: 90px;
}

.say ul li:nth-child(2) {
	width: 100%;
	padding: 0;
}
.say ul li:nth-child(3) {
	width: 100%;
	padding: 0;
}
.say ul li:last-child {
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}

.say ul li .say_bg .say__details {
    float: right;
    width: 79%;
}

.community {
	background: #061335 url(../images/community.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 720px;
}
.community h6 {
	padding-top: 97px;
}

.header.menu .nav_menu ul li {

    margin-bottom: 15x;

}
.header .nav_menu ul li {
   margin-bottom: 10px;
}
.header .nav_menu ul li a {
	 font-size: 17px;
}
.footer ul li:first-child {
	width: 39%;

}
.footer ul li {
	width: 19%;
	display: inline-block;
	vertical-align: top;
}
.footer_bottam p {
	text-align: left;
	margin-top: 12px;
	float: left;
	color: #c3c0c0;
	width: 616px;
}

#bklyn_btn_5b4ef70dafaad a {
	padding-top: 6px !important;
	padding-right: 8px !important;
	padding-bottom: 7px !important;
	padding-left: 3px !important;
}
#bklyn_btn_5b4ef70daa3a0 a {
	padding-top: 6px !important;
	padding-right: 8px !important;
	padding-bottom: 7px !important;
	padding-left: 3px !important;
}

.icon {
	top: -12px !important;
	right: 0px !important;
}

.mobilenav li:first-child {
    margin-top: 60px !important;
}

#ut-overlay-nav ul > li {
	opacity: 1;
	font-size: 28px !important;
	line-height: 150%;
	text-transform: uppercase;
}

#ut-overlay-nav ul {
	padding: 48px 0px;
}

#fixed-social {
	position: fixed;
	top: 163px;
}

}

@media only screen and (min-width:641px) and (max-width:768px){

	
.wrapper{
	width:auto;
	padding:0 10px;
	overflow:hidden;
}

.innerPg_bn {
	background: #071845 url(../images/banner.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: auto;
}
.header.solid .logo img {
	width: 70%;
	margin-top: 20px;
	padding-top: 0;
}
.captionBox {
	padding: 85px 0 0 0;
}
.caption {
	display: table;
	margin: 0 auto;
	width: 400px;
	float: none;
	margin-top: 10px;
	margin-bottom: 40px;
}

.caption h1 {
	font-size: 34px;
	line-height: 46px;
	text-align: center;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
}

.caption ul li:last-child a {
	width: 95px;
	margin-left: 7px;
	color: #071845;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
	font-size: 10px;
}

.caption ul {
	margin: 20px 0;
	text-align: center;
}

.logos {
	display:none;
}

.laptop img {
	display:none;
}

.intro {
	overflow: hidden;
	margin-top: 80px;
	margin-bottom: 80px;
	background: url(../images/svg_bg.png) no-repeat 0 0, url(../images/svg_bg_logo.png) no-repeat 100% 0;
	background: none;
}
.intro p {
	text-align: center;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #7b7a7a;
	font-weight: 400;
	width: auto;
	margin: 0 auto;
}
.intro ul li {
    width: 38.3%;
    margin-bottom: 20px;
}
.intro ul li:nth-child(2){
	margin-right:0;}
.intro ul li:last-child{
	margin-right:0;}	
.intro ul li a {
	width: auto;
	
}
.intro ul li p {
	height: 144px;
}

.tokens {
	height: 414px;
	background-size: 100%;
    background: #071741 url(../images/tokens.png);
}
.tokens h2 {
    padding-top: 74px;
}
.tokens ul li {
	width: 32%;
	display: inline-block;
	text-align: center;
	margin-top: 17px;
	vertical-align: top;
}

.tokens ul li img {
    width: 40%;
}
.staking {
	overflow: hidden;
	padding: 90px 0;
	background: url(../images/svg_bg_logo_2.png) no-repeat 0 0, url(../images/svg_bg_2.png) no-repeat 100% 0;
}

.staking ul li {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li:nth-child(2) {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li p {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #638cd4;
	font-weight: 500;
	height: 67px;
	display: block;
	vertical-align: top;
}

#sync2 .item .connector{
	background:none;
}
.col-md-6 {
	float: none;
	width: auto;
}
.spiral {
	background: url(../images/spiral.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}
.spiral h2 {
	padding-top: 144px;
	
}
.spiral .spiral_details {
	margin: 70px 0 160px 0;
}
.spiral .spiral_details img {
	width: 100%;

}
.road_map {
	overflow: hidden;
	padding: 70px 0 0 0;
}

.token_1 {
	margin-top:0;
}

.video_src {
	width: auto;
	float: none;
	margin: 60px 0;
}
.pai {
	width: 50%;
	margin: 0 auto;
	float: none;
	text-align: center;
	display: block;
	margin-bottom: 60px;
}
.pai ul {
	margin-top: 0;
	margin-left: 0;
}


.team {
	background: #071741 url(../images/team_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1790px;
}
.team h2 {
	padding-top: 57px;
	
}

.team ul li {
	width: auto;
	margin-right: 0;
}
.team ul li ul {
	text-align: center;
}

.team ul li a li {
    margin: 5px;
}
.investor {
	overflow: hidden;
	padding: 80px 0;
	background: url(../images/svg_bg_3.png) no-repeat 0 0;
}
.investor ul li {
    width: 32%;
}

.partnership {
	background: #071741 url(../images/partnership.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
}
.partnership h2 {
	padding-top: 100px;
}

.partnership ul li {
	width: 44.3%;
	display: inline-block;
	margin-right: 25px;
	margin-top: 7px;
	margin-bottom: 23px;
}

.partnership .more {
	margin: 30px auto;
	padding: 15px 23px;
	width: 32%;
	border-radius: 30px;
	margin-bottom: 60px;
}
.say {
	overflow: hidden;
	padding: 70px 0;
	background: url(../images/svg_bg_logo_6.png) no-repeat 0 0, url(../images/svg_bg_logo_3.png) no-repeat 100% 0;
}

.say ul li {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	margin-right:0;
	margin-top: 90px;
}

.say ul li:nth-child(2) {
	width: 100%;
	padding: 0;
}
.say ul li:nth-child(3) {
	width: 100%;
	padding: 0;
}
.say ul li:last-child {
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}

.say ul li .say_bg .say__details {
    float: right;
    width: 74%;
}

.community {
	background: #061335 url(../images/community.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 720px;
}
.community h6 {
	padding-top: 97px;
}

.header.menu .nav_menu ul li {

    margin-bottom: 15x;

}
.header .nav_menu ul li {
   margin-bottom: 10px;
}
.header .nav_menu ul li a {
	 font-size: 17px;
}
.footer ul li:first-child {
	width: 100%;
	margin-bottom: 40px;
}
.footer ul li:first-child img{
	text-align:center;
	margin:0 auto;
	display: block;}

.footer ul li {
	width: 32%;
	display: inline-block;
	vertical-align: top;
}
.footer_bottam p {
	text-align: left;
	margin-top: 12px;
	float: left;
	color: #c3c0c0;
	width: 366px;
}
.footer ul li ul li {
	display: block;
	width: 100% !important;
	padding: 8px 0;
	text-align: left;
	font-size: 13px;
	margin-bottom: 0 !important;
}

#sync2 .item .connector {
	left: -31%
}
#sync2 .synced .connector {
	width: 54%
}
.feature-slider .container-fluid {
	padding: 0 100px;
	max-width: 1600px
}

.ut-btn-group-pat {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}

.icon {
	top: -12px !important;
	right: 0px !important;
}


.mobilenav li:first-child {
    margin-top: 90px !important;
}

#ut-overlay-nav ul > li {
	opacity: 1;
	font-size: 28px !important;
	line-height: 150%;
	text-transform: uppercase;
}

#ut-overlay-nav ul {
	padding: 48px 0px;
}
.site-logo, .ut-mm-trigger, .ut-mm-button, .ut-hamburger-wrap {
	height: 21px !important;
	line-height: 60px !important;
}

.header .logo img {
	width: 70%;
	margin: 0;
	left: 0;
	top: -9px;
}

#fixed-social {
	position: fixed;
	top: 163px;
}

}


@media only screen and (min-width:481px) and (max-width:640px){
	
	
	.wrapper{
	width:auto;
	padding:0 10px;
	overflow:hidden;
}

.innerPg_bn {
	background: #071845 url(../images/banner.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: auto;
}
.header.solid .logo img {
	width: 180px;
	margin-top: 0;
	padding-top: 0;
}
.captionBox {
    padding: 75px 0 0 0;
}
.caption {
	display: table;
	margin: 0 auto;
	width: 400px;
	float: none;
	margin-top: 10px;
	margin-bottom: 40px;
}

.caption h1 {
	font-size: 34px;
	line-height: 46px;
	text-align: center;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
}

.caption ul li:last-child a {
	width: 95px;
	margin-left: 7px;
	color: #071845;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
	font-size: 10px;
}

.caption ul {
	margin: 20px 0;
	text-align: center;
}

.logos {
	display:none;
}

.laptop img {
	display:none;
}

.intro {
	overflow: hidden;
	margin-top: 80px;
	margin-bottom: 80px;
	background: url(../images/svg_bg.png) no-repeat 0 0, url(../images/svg_bg_logo.png) no-repeat 100% 0;
	background: none;
}
.intro p {
	text-align: center;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #7b7a7a;
	font-weight: 400;
	width: auto;
	margin: 0 auto;
}
.intro ul li {
	width: auto;
	margin-bottom: 20px;
	margin-right: 0;
}
.intro ul li:nth-child(2){
	margin-right:0;}
.intro ul li:last-child{
	margin-right:0;}	
.intro ul li a {
	width: auto;
	
}
.intro ul li p {
	height: 144px;
}

.tokens {
	height: 990px;
	background-size: 100%;
	background: #071741 url(../images/tokens.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.tokens h2 {
    padding-top: 74px;
}

.tokens ul li {
	width:auto;
	display:block;
	text-align: center;
	margin-top: 17px;
	vertical-align: top;
}

.tokens ul li img {
	width: auto;
}
.tokens ul li h4 {
	margin-top: 22px;
	font-size: 24px;
}
.staking {
	overflow: hidden;
	padding: 90px 0;
	background: url(../images/svg_bg_logo_2.png) no-repeat 0 0, url(../images/svg_bg_2.png) no-repeat 100% 0;
}

.staking ul li {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li:nth-child(2) {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li p {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #638cd4;
	font-weight: 500;
	height: 67px;
	display: block;
	vertical-align: top;
}

#sync2 .item .connector{
	background:none;
}
.col-md-6 {
	float: none;
	width: auto;
}
.spiral {
	background: url(../images/spiral.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}
.spiral h2 {
	padding-top: 144px;
	
}
.spiral .spiral_details {
	margin: 70px 0 160px 0;
}
.spiral .spiral_details img {
	width: 100%;

}
.road_map {
	overflow: hidden;
	padding: 70px 0 0 0;
}

.token_1 {
	margin-top: 60px;
}
.video_src {
	width: auto;
	float: none;
	margin: 60px 0;
}
.pai {
	width: 50%;
	margin: 0 auto;
	float: none;
	text-align: center;
	display: block;
	margin-bottom: 60px;
}
.pai ul {
	margin-top: 0;
	margin-left: 0;
}


.team {
	background: #071741 url(../images/team_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1890px;
}
.team h2 {
	padding-top: 57px;
	
}

.team ul li {
	width: auto;
	margin-right: 0;
}
.team ul li ul {
	text-align: center;
}

.team ul li a li {
    margin: 5px;
}
.investor {
	overflow: hidden;
	padding: 80px 0;
	background: url(../images/svg_bg_3.png) no-repeat 0 0;
}
.investor ul li {
	width: 49%;
}

.partnership {
	background: #071741 url(../images/partnership.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
}
.partnership h2 {
	padding-top: 100px;
}

.partnership ul li {
	width: 88%;
	display: block;
	margin: 20px auto;
}
.partnership ul li:last-child {
	width: 88%;
	display: block;
	margin: 20px auto;
}

.partnership ul li .partnership_icon {
	padding: 20px 0;
	text-align: center;
}
.partnership ul li p {
	text-align: center;
}
.partnership ul li a {
	text-align: center;
}
.partnership .more {
	width: 42%;
}
.say {
	overflow: hidden;
	padding: 70px 0;
	background: url(../images/svg_bg_logo_6.png) no-repeat 0 0, url(../images/svg_bg_logo_3.png) no-repeat 100% 0;
}

.say ul li {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	margin-right:0;
	margin-top: 90px;
}

.say ul li:nth-child(2) {
	width: 100%;
	padding: 0;
}
.say ul li:nth-child(3) {
	width: 100%;
	padding: 0;
}
.say ul li:last-child {
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}

.say ul li .say_bg .say__details {
    float: right;
    width: 62%;
}

.community {
	background: #061335 url(../images/community.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
}
.community h6 {
	padding-top: 67px;
}
.community h3 {
	font-size: 23px;
	padding-bottom: 23px;
	
	line-height: 36px;
}
.header .logo img {
	width: 70%;
	margin: 0;
	left: 0;
	margin-top: -2px;
	top: -11px;
}
.header.menu .nav_menu ul li {

    margin-bottom: 15x;

}
.header .nav_menu ul li {
   margin-bottom: 10px;
}
.header .nav_menu ul li a {
	 font-size: 17px;
}
.footer ul li:first-child {
	width: 100%;
	margin-bottom: 40px;
}
.footer ul li:first-child img{
	text-align:center;
	margin:0 auto;
	display: block;}

.footer ul li {
	width: 32%;
	display: inline-block;
	vertical-align: top;
}
.footer_bottam p {
	text-align: left;
	margin-top: 18px;
	float: left;
	color: #c3c0c0;
	width: 346px;
	font-size: 13px;
	line-height: 18px;
}
.footer ul li ul li {
	display: block;
	width: 100% !important;
	padding: 8px 0;
	text-align: left;
	font-size: 13px;
	margin-bottom: 0 !important;
}
.container-fluid {
	display: none;
}
	
	
.icon {
	top: -12px !important;
	right: 0px !important;
}
	
	
.mobilenav li:first-child {
	margin-top: 60px !important;
}	

.ut-hamburger-wrap {
	height: 31px;
}

#header-section {
    line-height: 52px !important;
}

.header.solid .logo img {
	width: 70%;
	margin-top: -20px;
	padding-bottom: 0;
}


#ut-overlay-nav ul > li {
	opacity: 1;
	font-size: 28px !important;
	line-height: 150%;
	text-transform: uppercase;
}

#ut-overlay-nav ul {
	padding: 48px 0px;
}

#fixed-social {
	position: fixed;
	top: 163px;
}

	}

@media only screen and (min-width:321px) and (max-width:480px){
	
	.wrapper{
	width:auto;
	padding:0 10px;
	overflow:hidden;
}

.innerPg_bn {
	background: #071845 url(../images/banner.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: auto;
}
.header.solid .logo img {
	width: 180px;
	margin-top: 26px;
	padding-top: 0;
}
.captionBox {
	padding: 94px 0 0 0;
}
.caption {
	display: table;
	margin: 0 auto;
	width: auto;
	float: none;
	margin-top: 10px;
	margin-bottom: 40px;
}

.caption h1 {
	font-size: 20px;
	line-height: 31px;
	text-align: center;
}

.caption ul li {
	display: inline-block;
	margin: 7px 0;
}
.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
}

.caption ul li:last-child a {
	width: 95px;
	margin-left:0;
	color: #071845;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
	font-size: 10px;
}

.caption ul {
	margin: 20px auto;
	text-align: center;
	width: 50%;
	float: none;
	display: block;
}
.logos {
	display:none;
}

.laptop img {
	display:none;
}

.intro {
	overflow: hidden;
	margin-top: 80px;
	margin-bottom: 80px;
	background: url(../images/svg_bg.png) no-repeat 0 0, url(../images/svg_bg_logo.png) no-repeat 100% 0;
	background: none;
}

.intro h2 {
	text-align: center;
	font-size: 26px;
}

.intro h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.intro p {
	text-align: center;
	padding-top: 10px;
	font-size: 14px;
	font-weight: 400;
	width: auto;
	margin: 0 auto;
}
.intro ul li {
	width: auto;
	margin-bottom: 20px;
	margin-right: 0;
}
.intro ul li:nth-child(2){
	margin-right:0;}
.intro ul li:last-child{
	margin-right:0;}	
.intro ul li a {
	width: auto;
	
}
.intro ul li p {
    height: 92px;
}

.tokens {
	height: 700px;
	background-size: 100%;
	background: #071741 url(../images/tokens.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.tokens h2 {
    padding-top: 44px;
	text-align: center;
	font-size: 26px;
}
.tokens h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.tokens ul li {
	width:auto;
	display:block;
	text-align: center;
	margin-top: 17px;
	vertical-align: top;
}

.tokens ul li img {
	width: 36%;
}
.tokens ul li h4 {
	margin-top: 12px;
	font-size: 18px;
}
.staking {
	overflow: hidden;
	padding: 20px 0 40px 0;
	background: #fff;
}

.staking h2 {
    padding-top: 44px;
	text-align: center;
	font-size: 26px;
}
.staking h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.staking ul {
    margin-top: 30px;
}
.staking ul li {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li:nth-child(2) {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li p {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #638cd4;
	font-weight: 500;
	height: 96px;
	display: block;
	vertical-align: top;
}

#sync2 .item .connector{
	background:none;
}
.col-md-6 {
	float: none;
	width: auto;
}
.spiral {
	background: #071741 url(../images/spiral.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 510px;
}
.spiral h2 {
	padding-top: 54px;
	
}

.spiral h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.spiral .spiral_details {
	margin: 30px 0 0 0;
}
.spiral .spiral_details img {
	width: 100%;

}
.road_map {
	overflow: hidden;
	padding: 70px 0 0 0;
}

.road_map h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
}

.road_map h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}

.token_1 {

    margin-top: 30px;

}

.token_1 h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
}
.token_1 h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.video_src {
	width: auto;
	float: none;
	margin:0;
}
.pai {
	width: 100%;
	margin: 0 auto;
	float: none;
	text-align: center;
	display: block;
	margin-bottom: 60px;
}
.pai ul {
	margin-top: 0;
	margin-left: 0;
}


.team {
	background: #071741 url(../images/team_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1750px;
}
.team h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top: 47px;
}
.team h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.team ul li {
	width: auto;
	margin-right: 0;
	padding: 30px 20px;
	margin-top: 30px;
}
.team ul li ul {
	text-align: center;
}

.team ul li a li {
    margin: 5px;
}
.investor {
	overflow: hidden;
	padding: 30px 0 60px 0;
	background:none;
}

.investor h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top: 47px;
}
.investor h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.investor ul li {
	width: auto;
	display: block;
}

.partnership {
	background: #071741 url(../images/partnership.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
}

.partnership h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top: 60px;
}
.partnership  h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.partnership ul li {
	width: 88%;
	display: block;
	margin: 20px auto;
}
.partnership ul li:last-child {
	width: 88%;
	display: block;
	margin: 20px auto;
}

.partnership ul li .partnership_icon {
	padding: 20px 0;
	text-align: center;
}
.partnership ul li p {
	text-align: center;
}
.partnership ul li a {
	text-align: center;
}
.partnership .more {
	width: 56%;
	font-size: 13px;
}
.say {
	overflow: hidden;
	padding: 70px 0;
	background:#fff;
}
.say h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top:0;
}
.say h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}

.say ul li {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	margin-right: 0;
	margin-top: 20px;
}


.say ul li:nth-child(2) {
	width: 100%;
	padding: 0;
}
.say ul li:nth-child(3) {
	width: 100%;
	padding: 0;
}
.say ul li:last-child {
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}
.say ul li .say_bg {
	background: #061942 url(../images/logo_bg_icon.png);
	border-radius: 20px;
	width: auto;
	height: auto;
	background-repeat: no-repeat;
	background-position: 68% center;
	background-size: 50%;
	padding: 30px;
	overflow: hidden;
}
.say ul li .say_bg .say_pic {
	height: 84px;
	width: 84px;
	border-radius: 50%;
	float: none;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

.say ul li .say_bg .say__details {
	float: right;
	width: 100%;
}
.say ul li .say_bg .say__details h4 {
	margin-top: 13px;
}

.community {
	background: #061335 url(../images/community.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
}
.community h6 {
	padding-top: 67px;
}
.community h3 {
	font-size: 18px;
	padding-bottom: 23px;
	line-height: 23px;
}
.header .logo img {
	width: 70%;
	margin: 0;
	left: 0;
	margin-top: -2px;
	top: -12px;
}
.header.menu .nav_menu ul li {

    margin-bottom: 15x;

}
.header .nav_menu ul li {
   margin-bottom: 10px;
}
.header .nav_menu ul li a {
	 font-size: 17px;
}
.footer ul li:first-child {
	width: 100%;
	margin-bottom: 40px;
}
.footer ul li:first-child img{
	text-align:center;
	margin:0 auto;
	display: block;}

.footer ul li {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}
.footer_bottam p {
	text-align: left;
	margin-top: 18px;
	float: left;
	color: #c3c0c0;
	width: 346px;
	font-size: 13px;
	line-height: 18px;
}
.footer ul li ul li {
	display: block;
	width: 100% !important;
	padding: 8px 0;
	text-align: left;
	font-size: 13px;
	margin-bottom: 0 !important;
	margin-top:0px;
}
.footer_bottam {
	 height: 100px;
}
.footer_bottam p {
	text-align: center;
	margin-top: 10px;
	float: none;
	color: #c3c0c0;
	width: auto;
	font-size: 11px;
	line-height: 18px;
}
.footer_btn {
	float: none;
	padding: 14px 28px;
	background: #294dea;
	margin-top: 12px;
	font-size: 14px;
	color: #fff;
	display: block;
	width: 79px;
	margin: 5px auto;
	text-align: center;
}
.container-fluid {
    display: none;
}

	
	
.icon {
	top: -12px !important;
	right: 0px !important;
}
	
	
#bklyn_btn_5b4ef70dafaad a {
	padding-top: 12px;
	padding-right: 31px !important;
	padding-bottom: 12px;
	padding-left: 31px !important;
}	

.mobilenav li:first-child {
    margin-top: 60px;
}

.ut-btn-group-pat {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

#ut-overlay-nav ul > li {
	opacity: 1;
	font-size: 28px !important;
	line-height: 150%;
	text-transform: uppercase;
}

#ut-overlay-nav ul {
	padding: 48px 0px;
}

#fixed-social {
	position: fixed;
	top: 163px;
}

}
@media only screen and (max-width:320px){
	
	.wrapper{
	width:auto;
	padding:0 10px;
	overflow:hidden;
}

.innerPg_bn {
	background: #071845 url(../images/banner.png);
	background-size: 100%;
	background-repeat: no-repeat;
	height: auto;
}
.header.solid .logo img {
	width: 70%;
	margin-top: 0;
	padding-top: 22px;
}
.captionBox {
	padding: 85px 0 0 0;
}
.caption {
	display: table;
	margin: 0 auto;
	width: auto;
	float: none;
	margin-top: 10px;
	margin-bottom: 40px;
}

.caption h1 {
	font-size: 20px;
	line-height: 31px;
	text-align: center;
}

.caption ul li {
	display: block;
	margin: 19px 0;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
}

.caption ul li:last-child a {
	width: 95px;
	margin-left:0;
	color: #071845;
}

.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 89px;
	font-size: 10px;
}

.caption ul {
	margin: 20px auto;
	text-align: center;
	width: 50%;
	float: none;
	display: block;
}
.logos {
	display:none;
}

.laptop img {
	display:none;
}

.intro {
	overflow: hidden;
	margin-top: 80px;
	margin-bottom: 80px;
	background: url(../images/svg_bg.png) no-repeat 0 0, url(../images/svg_bg_logo.png) no-repeat 100% 0;
	background: none;
}

.intro h2 {
	text-align: center;
	font-size: 26px;
}

.intro h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.intro p {
	text-align: center;
	padding-top: 10px;
	font-size: 14px;
	font-weight: 400;
	width: auto;
	margin: 0 auto;
}
.intro ul li {
	width: auto;
	margin-bottom: 20px;
	margin-right: 0;
}
.intro ul li:nth-child(2){
	margin-right:0;}
.intro ul li:last-child{
	margin-right:0;}	
.intro ul li a {
	width: auto;
	
}
.intro ul li p {
    height: 92px;
}

.tokens {
	height: 700px;
	background-size: 100%;
	background: #071741 url(../images/tokens.png);
	background-size: 100%;
	background-repeat: no-repeat;
}
.tokens h2 {
    padding-top: 44px;
	text-align: center;
	font-size: 26px;
}
.tokens h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.tokens ul li {
	width:auto;
	display:block;
	text-align: center;
	margin-top: 17px;
	vertical-align: top;
}

.tokens ul li img {
	width: 36%;
}
.tokens ul li h4 {
	margin-top: 12px;
	font-size: 18px;
}
.staking {
	overflow: hidden;
	padding: 20px 0 40px 0;
	background: #fff;
}

.staking h2 {
    padding-top: 44px;
	text-align: center;
	font-size: 26px;
}
.staking h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.staking ul {
    margin-top: 30px;
}
.staking ul li {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li:nth-child(2) {
	width: auto;
	margin-right: 0;
	margin-bottom: 20px;
}
.staking ul li p {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #638cd4;
	font-weight: 500;
	height: 96px;
	display: block;
	vertical-align: top;
}

#sync2 .item .connector{
	background:none;
}
.col-md-6 {
	float: none;
	width: auto;
}
.spiral {
	background: #071741 url(../images/spiral.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 510px;
}
.spiral h2 {
	padding-top: 54px;
	
}

.spiral h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
}
.spiral .spiral_details {
	margin: 30px 0 0 0;
}
.spiral .spiral_details img {
	width: 100%;

}
.road_map {
	overflow: hidden;
	padding: 70px 0 0 0;
}

.road_map h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
}

.road_map h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}

.token_1 {
    margin-top: 40px;
}

.token_1 h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
}
.token_1 h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.video_src {
	width: auto;
	float: none;
	margin:0;
}
.pai {
	width: 100%;
	margin: 0 auto;
	float: none;
	text-align: center;
	display: block;
	margin-bottom: 60px;
}
.pai ul {
	margin-top: 0;
	margin-left: 0;
}


.team {
	background: #071741 url(../images/team_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 1750px;
}
.team h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top: 47px;
}
.team h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.team ul li {
	width: auto;
	margin-right: 0;
	padding: 30px 20px;
	margin-top: 30px;
}
.team ul li ul {
	text-align: center;
}

.team ul li a li {
    margin: 5px;
}
.investor {
	overflow: hidden;
	padding: 30px 0 60px 0;
	background:none;
}

.investor h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top: 47px;
}
.investor h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.investor ul li {
	width: auto;
	display: block;
}

.partnership {
	background: #071741 url(../images/partnership.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: auto;
}

.partnership h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top: 60px;
}
.partnership  h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}
.partnership ul li {
	width: 88%;
	display: block;
	margin: 20px auto;
}
.partnership ul li:last-child {
	width: 88%;
	display: block;
	margin: 20px auto;
}

.partnership ul li .partnership_icon {
	padding: 20px 0;
	text-align: center;
}
.partnership ul li p {
	text-align: center;
}
.partnership ul li a {
	text-align: center;
}
.partnership .more {
	width: 56%;
	font-size: 13px;
}
.say {
	overflow: hidden;
	padding: 70px 0;
	background:#fff;
}
.say h2 {
	text-align: center;
	font-size: 27px;
	color: #2d2929;
	padding-top:0;
}
.say h2::after {
	width: auto;
	background-size: 100%;
	background-repeat: no-repeat;
	}

.say ul li {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	margin-right: 0;
	margin-top: 20px;
}


.say ul li:nth-child(2) {
	width: 100%;
	padding: 0;
}
.say ul li:nth-child(3) {
	width: 100%;
	padding: 0;
}
.say ul li:last-child {
	margin-right: 0;
	margin-left: 0;
	margin-top: 30px;
}
.say ul li .say_bg {
	background: #061942 url(../images/logo_bg_icon.png);
	border-radius: 20px;
	width: auto;
	height: auto;
	background-repeat: no-repeat;
	background-position: 68% center;
	background-size: 50%;
	padding: 30px;
	overflow: hidden;
}
.say ul li .say_bg .say_pic {
	height: 84px;
	width: 84px;
	border-radius: 50%;
	float: none;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

.say ul li .say_bg .say__details {
	float: right;
	width: 100%;
}
.say ul li .say_bg .say__details h4 {
	margin-top: 13px;
}

.community {
	background: #061335 url(../images/community.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 650px;
}
.community h6 {
	padding-top: 67px;
}
.community h3 {
	font-size: 18px;
	padding-bottom: 23px;
	line-height: 23px;
}
.header .logo img {
	width: 70%;
	margin: 0;
	left: 0;
	margin-top: -2px;
	top: -10px;
}
.header.menu .nav_menu ul li {

    margin-bottom: 15x;

}
.header .nav_menu ul li {
   margin-bottom: 10px;
}
.header .nav_menu ul li a {
	 font-size: 17px;
}
.footer ul li:first-child {
	width: 100%;
	margin-bottom: 40px;
}
.footer ul li:first-child img{
	text-align:center;
	margin:0 auto;
	display: block;}

.footer ul li {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}
.footer_bottam p {
	text-align: left;
	margin-top: 18px;
	float: left;
	color: #c3c0c0;
	width: 346px;
	font-size: 13px;
	line-height: 18px;
}
.footer ul li ul li {
	display: block;
	width: 100% !important;
	padding: 8px 0;
	text-align: left;
	font-size: 13px;
	margin-bottom: 0 !important;
	margin-top:0px;
}
.footer_bottam {
	 height: 100px;
}
.footer_bottam p {
	text-align: center;
	margin-top: 10px;
	float: none;
	color: #c3c0c0;
	width: auto;
	font-size: 11px;
	line-height: 18px;
}
.footer_btn {
	float: none;
	padding: 14px 28px;
	background: #294dea;
	margin-top: 12px;
	font-size: 14px;
	color: #fff;
	display: block;
	width: 79px;
	margin: 5px auto;
	text-align: center;
}
.container-fluid {
    display: none;
}
	
	
.icon {
	top: -12px !important;
	right: 0px !important;
}
	
.mobilenav li:first-child {
    margin-top: 60px !important;
}

#bklyn_btn_5b4ef70dafaad a {
	padding-top: 12px;
	padding-right: 0 !important;
	padding-bottom: 12px;
	padding-left: 0 !important;
}
#ut-overlay-nav ul > li {
	opacity: 1;
	font-size: 28px !important;
	line-height: 150%;
	text-transform: uppercase;
}

#ut-overlay-nav ul {
	padding: 48px 0px;
}
#fixed-social {
	position: fixed;
	top: 163px;
}
}