
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css";
	
body{ 
  	margin:0; 
 	padding:0; 
 	font-family: Montserrat;
	color:#999;
	text-decoration: none;
}
*{
	margin:0; 
	padding:0; 
}
img{ 
	 border:none; 
	 outline:none;
	 width: 100%;
}
a{ text-decoration:none !important;}
ul,li{ list-style:none !important;}
input, textarea, select{
	outline:none;
	}
h3.title_headding{ 
	font-size:40px;
	font-weight: 300;
	color: #4c4c4c;
	text-transform: capitalize;
	text-align: center;
	padding: 30px 0;
}
h2.sub_title{
	font-size:34px;
}

p {
    color: #898989;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}	

.alignleft{
	float:left;
	margin:0 10px 15px 0;
	}
.alignright{
	float:right;
	margin:0 0px 15px 10px;
	}
.aligncenter{
	display:block;
	margin:15px auto;
	}

.clear:after{
	display:block;
	clear:both;
	content:'';
	}
.spacer10{ height:10px;}
.spacer15{ height:15px;}
.spacer20{ height:20px;}
.spacer25{ height:25px;}
.spacer30{ height:30px;}     
.spacer40{ height:40px;}


.boxSizing{
	box-sizing:border-box;
	}
.wrapper{ 
	width:1170px;
	margin:0px auto;
	position:relative;
	}
.wrapper:after{
	clear:both;
	display: block; 
	content:'';
	}
/***************************
	Header css start
*****************************/
::-webkit-input-placeholder { /*Chrome/Opera/Safari */
  opacity:1
	}
::-moz-placeholder { /* Firefox 19+ */
  opacity:1
	}
:-ms-input-placeholder { /* IE 10+ */
  opacity:1
	}
:-moz-placeholder { /* Firefox 18- */
  opacity:1
	}	
.transition250{
	-webkit-transition:all 250ms ease 0s;
	-moz-transition:all 250ms ease 0s;
	-ms-transition:all 250ms ease 0s;
	-o-transition:all 250ms ease 0s;
	transition:all 250ms ease 0s;
	}	
.transition350{
	-webkit-transition:all 250ms ease 0s;
	-moz-transition:all 250ms ease 0s;
	-ms-transition:all 250ms ease 0s;
	-o-transition:all 250ms ease 0s;
	transition:all 250ms ease 0s;
	}	
	
	
	
	
	
	
input[type="checkbox"] {
    display: none;
	}
#cntChk:checked + .contactBox {
    right: 0;
	}	
.contactBox {
    height: auto;
    position: fixed;
    right: -300px;
    top: 50%;
    transition: all 300ms ease 0s;
    width: 300px;
    z-index: 100;
    margin-top: -117px;
	}
.contactBox label {
   background: #114a82 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 300;
    left: -59px;
    overflow: hidden;
    padding: 15px 18px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 23px;
	}	
.contBox {
    background: #2581c1 none repeat scroll 0 0;
    padding: 19px;
	}
.contBox input[type="text"], .contBox input[type="email"] {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    color: #4f4f4f;
    font-family: RALEWAY;
    font-size: 13px;
    font-weight: 400;
    line-height: 39px;
    margin: 0 0 9px;
    padding: 0 10px;
    width: 100%;
	}
.contBox textarea {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    color: #4f4f4f;
    font-family: RALEWAY;
    font-size: 13px;
    font-weight: 400;
    height: 87px;
    margin: 0 0 9px;
    padding: 10px;
    resize: none;
    width: 100%;
	}
.contBox input[type="submit"] {
    background: #c02029 ;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    padding: 3px 0;
    text-align: center;
    text-transform: uppercase;
    width: 104px;
	}	
	
	
.socialsideSq {
    background: #114a82 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 300;
    margin-top: 150px;
    overflow: hidden;
    padding: 15px 18px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 50%;
    width: 23px;
    z-index: 89;
}	
.socialsideSq a{
    color: #fff;
}
.header {
  padding-top: 30px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.header.solid {
	position: fixed;
	background: #071845;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	opacity: .9;
	animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll{
	
	0% {
		transform: translateY(-40px);
	}
	10%{
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0px);
	}
}
.header .wrapper {
   z-index: 1;
}
.header .logo img {
	
	width: 250px;
	margin: 0;
}
.header .mobile_button{
	float: right;
	z-index: 9999;
}
.header .mobile_button .smenu {
    background: #fff;
    width: 18px;
    height: 2px;
    display: block;
    margin-bottom: 4px;
}
.header .nav_menu {
	position: fixed;
	right: 0;
	left: 0;
	height: 100%;
	background: rgba(7,23,65,.9);
	text-align: center;
	top: 0;
	z-index: -2;
	display:none;
	
	
}
.header .nav_menu ul {
    opacity: 0;
}
.header .nav_menu ul li {
    margin-bottom: 15px;
	display:block;
	transition: all 0.6s ease-in 0.3s;
}
.header .nav_menu ul li a {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
.header.menu .nav_menu {
    display: block;
	transition: all 0.6s ease-in 0.3s;
}
.header.menu .nav_menu ul li {
    margin-bottom: 15x;
	transition: all 0.9s ease-in 0.3s;
}
.header.menu .nav_menu ul{
	margin-top: 110px;
	opacity: 1;
	transition: all 0.6s ease-in 0.3s;
}

.header.menu .mobile_button .smenu.menu1 {
    transform: rotate(-45deg);
    position: relative;
    top: 6px;
	transition: all 0.6s ease-in 0.3s;
}
.header.menu .mobile_button .smenu.menu2{
	display: none;
	transition: all 0.6s ease-in 0.3s;
}
.header.menu .mobile_button .smenu.menu3 {
    transform: rotate(45deg);
	transition: all 0.6s ease-in 0.3s;
}

.header.solid {
	background: rgba(7,23,65,.9);
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}
.header .clear.solid img {
    width: 263px;
    padding-top: 17px;
}

.header.solid .logo img {
	width: 220px;
	margin-top: -20px;
	padding-bottom: 11px;
}
.topbar {
    background: #114a82 none repeat scroll 0 0;
    padding: 10px 0;
	}
.leftTop {
    float: left;
	}
.leftTop > span {
    color: #fff;
    float: left;
    padding: 0 38px 0 0;
	}
.leftTop a {
    color: #fff;
	}
.leftTop a i {
    display: inline-block;
    padding: 0 7px 0 0;
	}
.leftTop p {
    color: #fff;
    display: inline;
	}
.social a {
    color: #fff;
	}
.social {
    float: right;
    padding: 0;
	}
.fa.fa-linkedin:hover {
    /*color: #0981b9;*/
	}
	

.logo {
    float: left;
    padding: 0;
}
.header .logo img {
    width: 100%;
    margin: 0;
    left: 0;
}
.menuBar{
    margin: 0;
    padding: 18px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 89;
	box-sizing: border-box;
	}
.menuBar .wrapper{
	padding:0;
	}
.topTag {
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 88;
	}


.innerPg_bn {
    background: url(../images/banner.png);
    /* height: auto; */
    position: relative;
    width: 100%;
    vertical-align: bottom;
    height: 960px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left center;
	outline: none;
}
/******************
	banner section
**************/
	
.camera_caption{
	outline:none;}	

.banner{
    padding: 0 0 0px;
    position: relative;
	}
.banner.innerPgBn {
    overflow: hidden;
    padding: 0;
	}	
.innerPg_bn img {
	height: auto;
	left: 50%;
	margin: 0 0 0 -1410px;
	position: relative;
	width: 2100px;
	vertical-align: bottom;
}
.banner.innerPgBn .captionBox{
	position:absolute;
	left:0;
	top:0;
	top:0;
	width:100%;
	z-index:90;
	}
.captionBox {
	padding:125px 0 0 0;
	outline:none;
	}	
.caption {
	display: table;
	margin: 0 auto;
	width: 510px;
	float: left;
	margin-top: 60px;
}
.caption h1 {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 42px;
	font-weight: 600;
	line-height: 53px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	line-height: 56px;
}
.caption ul{
	margin:20px 0;}
.caption ul li{
	display:inline-block;}	
.caption ul li a {
	padding: 15px 20px;
	background: #fff;
	width: 117px;
	border-radius: 30px;
	color: #f00807;
	text-align: center;
	display: block;
}   
.caption ul li a i{
	margin-right:5px;}
.caption ul li:last-child a {
	width: 170px;
	margin-left: 20px;
	color: #071845;
}
.caption ul li:last-child a i{
	margin-left:10px;}
.caption p {
    color: #7a7a7a;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding-top:30px;
	font-weight: 400;
	
	}	
.btn_1 {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	display: block;
	padding: 13px;
	background: #ff9c00;
	width: 25%;
	text-align: center;
	margin: auto;
	color: #fff;
	margin-top: 30px;
	border-radius: 48px;
	font-size: 18px;
	font-weight: 400;
	box-shadow:0px 0px 40px #949494;
	text-transform: uppercase;
}
.caption .btn:hover {
	
	}
.btn:hover{
	
	}
.laptop img {
	width: auto !important;
	float: right !important;
	margin: 0 auto !important;
	left: 0;
}

.innerPgBn .caption h1 {
    text-transform: uppercase;
	}

.camera_pag {
    position: absolute;
    width: 100%;
    bottom: 41px;
	}
.logos {
    width: auto;
    float: left;
    margin-top: 80px;
}	
.logos ul li {
    display: inline-block;
    padding: 0 82px 0px;
    margin-top: 67px;
}
.logos ul li img {
	width: auto;
	left: 0;
	margin: 0 auto;
}



.intro {
	overflow: hidden;
	margin-top:0;
	margin-bottom: 130px;
	background: url(../images/svg_bg.png) no-repeat 0 0, url(../images/svg_bg_logo.png) no-repeat 100% 0;
	outline: none;
}

.intro h2 {
	text-align: center;
	font-size: 36px;
	color: #2d2929;
	position: relative;
	padding-bottom: 50px;
	font-family: 'Oswald', sans-serif;
}
	
.intro h2::after {
	content: "";
	background: url(../images/border_heading.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}

.intro p {
	text-align: center;
	padding-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #7b7a7a;
	font-weight: 500;
	width: 1000px;
	margin: 0 auto;
}
.intro ul{
	margin-top:60px;}
.intro ul li {
	width: 18.3%;
	display: inline-block;
	border-radius: 10px;
	background: #071743 url(../images/logo_bg_icon.png);
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto;
	padding: 30px;
	margin-right: 20px;
	vertical-align: top;
}
.intro ul li:last-child{
	margin-right: 0px;
	}
.intro ul li .icon_Integro {
	margin: 20px auto;
	text-align: center;
}
.intro ul li .icon_Integro img {
	width: auto;
}

.intro ul li h4{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color:#fff;
	font-weight:500;
	}
	
.intro ul li p {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #638cd4;
	font-weight: 500;
	height: 114px;
	display: block;
	vertical-align: top;
	width:auto;
}
.intro ul li a {
	text-align: center;
	padding: 10px 1px;
	display: block;
	border: 2px solid #4c6eaf;
	border-radius: 30px;
	width: 70%;
	margin: 0 auto;
	color: #fff;
}


.intro ul li:nth-child(2) {
	background: #fff url(../images/logo_bg_icon_2.png);
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto;
	padding: 30px;
	margin-right: 20px;
	vertical-align: top;
	box-shadow: 5px 10px 20px 5px #ccc;
}

.intro ul li:nth-child(2) h4 {
	color:#f21a16;
	font-family: 'Oswald', sans-serif;
	}
.intro ul li:nth-child(2) p {
	color:#737373;
	}
		
	
.intro ul li:nth-child(2) a{
	text-align: center;
	padding: 10px 1px;
	display: block;
	border: 2px solid #f21a16;
	border-radius: 30px;
	width: 70%;
	margin: 0 auto;
	color: #f21a16;
}

.intro ul li:last-child{
	background: #fff url(../images/logo_bg_icon_2.png);
	background-position: center 90%;
	background-repeat: no-repeat;
	background-size: auto;
	padding: 30px;
	vertical-align: top;
	box-shadow: 5px 10px 20px 5px #ccc;
}

.intro ul li:last-child h4 {
	color:#f21a16;
	font-family: 'Oswald', sans-serif;
	}
	
.intro ul li:last-child a{
	text-align: center;
	padding: 10px 1px;
	display: block;
	border: 2px solid #f21a16;
	border-radius: 30px;
	width: 70%;
	margin: 0 auto;
	color: #f21a16;
}

.intro ul li:last-child p {
	color:#737373;
	}
		
.intro ul li:last-child a{
	margin-top: -9px;
}



.tokens {
    background: url(../images/tokens.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 792px;
	background-repeat:no-repeat;
	outline: none;
	
}


.tokens h2 {
	text-align: center;
	font-size: 36px;
	color: #fff;
	position: relative;
	padding-bottom: 50px;
	padding-top:224px;
	font-family: 'Oswald', sans-serif;
}
	
.tokens h2::after {
	content: "";
	background: url(../images/tokens_bdr.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}

.tokens ul li {
	width: 33%;
	display: inline-block;
	text-align: center;
	margin-top: 70px;
	vertical-align: top;
}

.tokens ul li img{
	width:auto;}
	
.tokens ul li h4 {
	color: #fff;
	margin-top: 22px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}


.staking {
	overflow: hidden;
	padding:180px 0;
	background: url(../images/svg_bg_logo_2.png) no-repeat 0 0, url(../images/svg_bg_2.png) no-repeat 100% 0;
	outline: none;

}
.staking h2 {
	text-align: center;
	font-size: 36px;
	color: #2d2929;
	position: relative;
	padding-bottom: 50px;
	font-family: 'Oswald', sans-serif;
}
	
.staking h2::after {
	content: "";
	background: url(../images/border_heading.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}


.staking ul{
	margin-top:60px;}
.staking ul li {
	width: 26.3%;
	display: inline-block;
	border-radius: 10px;
	background: #071743 url(../images/logo_bg_icon.png);
	background-position: center 70%;
	background-repeat: no-repeat;
	background-size: auto;
	padding: 30px;
	margin-right: 20px;
	vertical-align: top;
}

.staking ul li .icon_Staking {
	margin: 17px auto 20px;
	text-align: center;
}
.staking ul li .icon_Staking img {
	width: auto;
	margin:0 auto;
}
.staking ul li:last-child{
	margin-right: 0px;
	}
.staking ul li .icon {
	margin: 20px auto;
	text-align: center;
}
.staking ul li .icon img {
	width: auto;
}

.staking ul li h4{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	color:#fff;
	font-weight:300;
	}
	
.staking ul li p {
	text-align: center;
	padding: 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #638cd4;
	font-weight: 500;
	height: 114px;
	display: block;
	vertical-align: top;
}
.staking ul li a {
	text-align: center;
	padding: 10px 1px;
	display: block;
	border: 2px solid #4c6eaf;
	border-radius: 30px;
	width: 70%;
	margin: 0 auto;
	color: #fff;
}


.staking ul li:nth-child(2) {
	background: #fff url(../images/logo_bg_icon_2.png);
	background-position: center 70%;
	background-repeat: no-repeat;
	background-size: auto;
	padding: 30px;
	margin-right: 20px;
	vertical-align: top;
	box-shadow: 5px 10px 20px 5px #ccc;
}

.staking ul li:nth-child(2) h4 {
	color:#f21a16;
	}
.staking ul li:nth-child(2) p {
	color: #737373;
	visibility: hidden;
}
		
	
.staking ul li:nth-child(2) a{
	text-align: center;
	padding: 10px 1px;
	display: block;
	border: 2px solid #f21a16;
	border-radius: 30px;
	width: 70%;
	margin: 0 auto;
	color: #f21a16;
}

.spiral {
    background: url(../images/spiral.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1372px;
	outline: none;
}


.spiral h2 {
	text-align: center;
	font-size: 36px;
	color: #fff;
	position: relative;
	padding-bottom: 60px;
	padding-top:224px;
	font-family: 'Oswald', sans-serif;
}
	
.spiral h2::after {
	content: "";
	background: url(../images/tokens_bdr.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}
.spiral .spiral_details{
	margin:60px 0;}

.spiral .spiral_details img {
	width: auto;
	margin: 0 auto;
	display: block;
	text-align: center;
}



.team {
    background: url(../images/team_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1057px;
	outline: none;
}


.team h2 {
	text-align: center;
	font-size: 36px;
	color: #fff !important;
	position: relative;
	padding-bottom: 60px;
	padding-top: 147px;
	font-family: 'Oswald', sans-serif;
}
	
.team h2::after {
	content: "";
	background: url(../images/tokens_bdr.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}


.team ul li {
	width: 21%;
	display: inline-block;
	padding: 30px 60px;
	background: #fff;
	margin-right: 20px;
	border-radius: 20px;
	vertical-align: top;
	margin-top: 80px;
}
.team ul li .team_pic {
	height: 188px !important;
	width: 188px !important;
	border-radius: 50%;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-size: 100% !important;
	text-align: center;
	margin: 0 auto;
}	

.team ul li h4 {
	text-align: center;
	padding: 18px 0 10px 0;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #071741;
	text-transform: uppercase;
}
.team ul li h5 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color:#707070;
	font-weight:300;
}
.team ul li p {
	text-align: center;
	padding: 7px 0;
}

.team ul li a li {
	width: 37px !important;
	height: 37px !important;
	display: inline-block !important;
	padding: 0;
	text-align: center;
	border: 1px solid #c0c1c5!important;
	margin: 9px;
	border-radius: 50%;
	color:#c0c1c5;
	-webkit-transition: all 0.40s ease-in-out;
-moz-transition: all 0.40s ease-in-out;
-o-transition: all 0.40s ease-in-out;
transition: all 0.40s ease-in-out;
	
}
.team ul li li i {
	padding: 9px;
	font-size: 18px;
	
}

.team ul li a li:hover{
	background:#071741;
	color:#fff;
	border:none;}
	
	
	
.investor {
	overflow: hidden;
	padding:180px 0;
	background: url(../images/svg_bg_3.png) no-repeat 0 0;
	outline: none;

}
.investor h2 {
	text-align: center;
	font-size: 36px;
	color: #2d2929;
	position: relative;
	padding-bottom: 50px;
	font-family: 'Oswald', sans-serif;
}
	
.investor h2::after {
	content: "";
	background: url(../images/border_heading.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}
	

.investor ul li {
	width: 23%;
	display: inline-block;
	margin-right: 10px;
	margin:70px 0 0 0;
}
.investor ul li .investor_pic {
	width: 145px;
	height: 145px;
	border-radius: 50%;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	margin: 0 auto;
}

.investor ul li h3{
	text-align:center;
	color:#f21714;
	font-size:20px;
	font-weight:300;
	padding:10px 0;
	font-family: 'Oswald', sans-serif;
	}
	
.investor ul li h4{
	text-align:center;
	color:#787878;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	font-weight:600;
	padding:0 0 10px 0;
	}	
.investor ul li ul{
	text-align:center;
	margin-top:0px;
}	
.investor ul li a li {
	width: 30px !important;
	height: 30px !important;
	display: inline-block !important;
	padding: 0;
	text-align: center;
	border: 1px solid #c0c1c5 !important;
	margin: 7px;
	border-radius: 50%;
	color: #c0c1c5;
	-webkit-transition: all 0.40s ease-in-out;
-moz-transition: all 0.40s ease-in-out;
-o-transition: all 0.40s ease-in-out;
transition: all 0.40s ease-in-out;
}
.investor ul li li i {
    padding: 8px;
    font-size: 14px;
}
.investor ul li a li:hover{
	background:#071741;
	color:#fff;
	border:none;}
		
		
.partnership {
    background: url(../images/partnership.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 855px;
	outline: none;
}
.partnership h2 {
	text-align: center;
	font-size: 36px;
	color: #fff !important;
	position: relative;
	padding-bottom: 60px;
	padding-top: 147px;
	font-family: 'Oswald', sans-serif;
}
	
.partnership h2::after {
	content: "";
	background: url(../images/tokens_bdr.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}

.partnership ul li {
	width: 23.3%;
	display: inline-block;
	margin-right: 20px;
	margin-top:69px;
}
.partnership ul li .partnership_icon{
	padding:20px 0;}
.partnership ul li .partnership_icon img{
	width:auto;}
	
.partnership ul li p{
	color:#638cd4;
	text-align:left;
	font-size:13px;
	font-family: 'Montserrat', sans-serif;
	font-weight:600;
	}	
.partnership ul li a {
	color: #f21714;
	font-size: 13px;
	margin-top: 12px;
	display: block;
}

.partnership ul li:last-child{
	margin-right:0;
}

.partnership .more {
	margin: 50px auto;
	display: block;
	padding: 20px 25px;
	text-align: center;
	border: 1px solid #f21714;
	width: 20%;
	border-radius: 30px;
	color:#ffffff;
	text-transform:uppercase;
}
.partnership .more:hover{
	background:#fff;
	color:#f21714;}
	
	
.say{
	overflow: hidden;
	padding:180px 0;
	background: url(../images/svg_bg_logo_6.png) no-repeat 0 0, url(../images/svg_bg_logo_3.png) no-repeat 100% 0;
	outline: none;

}
.say h2 {
	text-align: center;
	font-size: 36px;
	color: #2d2929;
	position: relative;
	padding-bottom: 50px;
	font-family: 'Oswald', sans-serif;
}
	
.say h2::after {
	content: "";
	background: url(../images/border_heading.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}	

.say ul li {
	width: 48%;
	display: inline-block;
	overflow: hidden;
	margin-right: 80px;
	margin-top: 90px;
}
.say ul li .say_bg {
	background: #061942 url(../images/logo_bg_icon.png);
	border-radius: 20px;
	width: auto%;
	height: auto;
	background-repeat: no-repeat;
	background-position: 68% center;
	background-size: 50%;
	padding: 50px;
	
	overflow: hidden;
}

.say ul li .say_bg .say_pic {
	height: 84px;
	width: 84px;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	margin-right: 50px;
	
}

.say ul li .say_bg .say__details {
	float: right;
	width: 70%;
}

.say ul li .say_bg .say__details h4{
	color:#fff;
	border-bottom:1px solid #264074;
	padding-bottom:20px;	
	font-family: 'Oswald', sans-serif;
	}
.say ul li .say_bg .say__details p{
	color:#638cd4;
	font-size:13px;
	font-weight:600;
	padding:20px 0;
	}	
	
.say ul li .say_bg .say__details ul li {
	width: auto;
	color: #d5124e;
	margin-right: 0;
	padding: 0;
	margin-top: 0;
	margin-left: 0;
}
.say ul li .say_bg .say__details h5 {
	font-size: 18px;
	color: #fff;
	padding: 10px 0;
	font-family: 'Oswald', sans-serif;
}
.say ul li .say_bg .say__details h6 {
	font-size: 14px;
	color: #fff;
	padding: 10px 0;
	font-family: 'Oswald', sans-serif;
}


.say ul li:nth-child(2) {
	width: 48%;
	display: inline-block;
	overflow: hidden;
	margin-right: 20px;
	vertical-align: top;
}


.say ul li:nth-child(2) {
	width: 44%;
	display: inline-block;
	overflow: hidden;
	margin-right: 0;
	vertical-align: top;
	padding: 50px 0;
}
.say ul li:nth-child(2) h4{
	color:#061942;
	border-bottom:1px solid #f2f2f2;
	padding-bottom:20px;	
	font-family: 'Oswald', sans-serif;
	}
	
.say ul li:nth-child(2) p {
	color: #808181;
	font-size: 13px;
	font-weight: 600;
	padding: 20px 0 30px 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 20px;
}	
	
.say ul li:nth-child(2) .client_dtls{
	}	
	
.say ul li:nth-child(2) .client_dtls .client_pic{
	height: 84px;
	width: 84px;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	margin-right: 20px;
	}	
.say ul li:nth-child(2) .client_dtls .client_dtks h5 {
	text-align: left;
	color: #061942;
	font-size: 18px;
	padding: 0 0 10px 0;
	font-family: 'Oswald', sans-serif;
}
.say ul li:nth-child(2) .client_dtls .client_dtks h6 {
	text-align: left;
	color: #4183ee;
	font-size:14px;
	font-family: 'Oswald', sans-serif;
}	

.say ul li:nth-child(2) .client_dtls .client_dtks ul li {
	width: auto;
	color: #d5124e;
	margin: 0;
	padding: 10px 0;
}





.say ul li:nth-child(3) {
	width: 48%;
	display: inline-block;
	overflow: hidden;
	margin-right: 20px;
	vertical-align: top;
}


.say ul li:nth-child(3) {
	width: 44%;
	display: inline-block;
	overflow: hidden;
	margin-right: 0;
	vertical-align: top;
	padding: 50px 0;
}
.say ul li:nth-child(3) h4{
	color:#061942;
	border-bottom:1px solid #f2f2f2;
	padding-bottom:20px;	
	font-family: 'Oswald', sans-serif;
	}
	
.say ul li:nth-child(3) p {
	color: #808181;
	font-size: 13px;
	font-weight: 600;
	padding: 20px 0 30px 0;
	font-family: 'Montserrat', sans-serif;
	line-height: 20px;
}	
	
.say ul li:nth-child(3) .client_dtls{
	}	
	
.say ul li:nth-child(3) .client_dtls .client_pic{
	height: 84px;
	width: 84px;
	border-radius: 50%;
	float: left;
	overflow: hidden;
	margin-right: 20px;
	}	
	
.say ul li:nth-child(3) .client_dtls .client_dtks h5 {
	text-align: left;
	color: #061942;
	font-size: 18px;
	padding: 0 0 10px 0;
	font-family: 'Oswald', sans-serif;
}
.say ul li:nth-child(3) .client_dtls .client_dtks h6 {
	text-align: left;
	color: #4183ee;
	font-size:14px;
	font-family: 'Oswald', sans-serif;
}	

.say ul li:nth-child(3) .client_dtls .client_dtks ul li {
	width: auto;
	color: #d5124e;
	margin: 0;
	padding: 10px 0;
}

.say ul li:last-child {
	margin-right: 0;
	margin-left: 80px;
}


		
.community {
    background: url(../images/community.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 1005px;
	outline: none;
}
.community h6 {
	text-align: center;
	font-size: 13px;
	color: #fff !important;
	position: relative;
	padding-bottom: 60px;
	padding-top: 247px;
}
.community h6::after {
	content: "";
	background: url(../images/community_bdr.png);
	width: 232px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
	background-repeat:no-repeat;
}


.community h3 {
	text-align: center;
	font-size: 36px;
	color: #fff;
	padding-bottom: 30px;
	padding-top: 0;
	line-height: 50px;
	font-family: 'Oswald', sans-serif;
}

.community p {
	color: #638cd4;
	font-size: 13px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	line-height: 20px;
	text-align:center;
}	


.community_box input[type="text"] {
	background: none;
	/* border: none; */
	box-sizing: border-box;
	color: #767676 !important;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 25px;
	padding: 11px 20px;
	width: 80%;
	z-index: 0;
	border: 1px solid #1c336e;
}
.community_box {
	margin: 40px auto;
	text-align: center;
}

.community_box input[type="submit"] {
	background: none;
	cursor: pointer;
	padding: 15px;
	margin: 0px;
	padding: 15px 70px;
	border-radius: 40px;
	color: #f21714;
	border: 2px solid #f21714;
	display: block;
	margin: 40px auto;
	font-size: 16px;
	-webkit-transition: all 0.40s ease-in-out;
-moz-transition: all 0.40s ease-in-out;
-o-transition: all 0.40s ease-in-out;
transition: all 0.40s ease-in-out;
}
.community_box input[type="submit"]:hover {
    background: #f21714 none repeat scroll 0 0;
	color:#fff;
}
.community ul{
	margin:0 auto;
	text-align:center;}
.community ul li {
	display:inline-block;
	padding:20px;
}
.community ul li i {
	font-size: 25px;
	color: #fff;
	-webkit-transition: all 0.40s ease-in-out;
-moz-transition: all 0.40s ease-in-out;
-o-transition: all 0.40s ease-in-out;
transition: all 0.40s ease-in-out;
}

.community ul li i:hover{
	color:#f21714;}
	
	
.footer {
	margin: 100px auto;
	outline: none;
}	
.footer ul li{
	width:30%;}

.footer ul li:first-child {
	width: 31%;
}
.footer ul li:first-child img{
	width:auto;}
	
.footer ul li {
	width: 22%;
	display: inline-block;
	vertical-align: top;
}

.footer ul li ul li {
	display: block;
	width: 100% !important;
	
	
}
.footer ul li ul li {
	display: block;
	width: 100% !important;
	padding: 8px 0;
	text-align: left;
	font-size: 13px;
}

.footer ul li ul li a{
	padding: 8px 0;
	text-align: left;
	color:#737373;
	-webkit-transition: all 0.40s ease-in-out;
-moz-transition: all 0.40s ease-in-out;
-o-transition: all 0.40s ease-in-out;
transition: all 0.40s ease-in-out;}
	
.footer ul li ul li a i {
	margin-right: 5px;
	color:#c8c8c8;
	font-size:13px;
	-webkit-transition: all 0.40s ease-in-out;
-moz-transition: all 0.40s ease-in-out;
-o-transition: all 0.40s ease-in-out;
transition: all 0.40s ease-in-out;
}	

.footer ul li h3 {
	margin-bottom: 10px;
	color:#061335;
	font-size:18px;
	font-family: 'Oswald', sans-serif;
}
.footer ul li ul li i:hover{
	color:#f21714;
	}
	
	.footer ul li ul li a:hover{
	color:#f21714;}
	
	
.footer_bottam {
	height: 70px;
	background:rgba(31,33,35,0.9);
	width: 100%;
	position: fixed;
	bottom: 0;
}

.footer_bottam p {
	text-align: left;
	margin-top: 26px;
	float: left;
	color:#c3c0c0;
}

.footer_bottam p span {
	color: #fff;
	font-weight: 600;
}	

.footer_btn {
	float: right;
	padding: 14px 28px;
	background: #294dea;
	margin-top: 12px;
	font-size:14px;
	color:#fff;
	webkit-transition: all 0.40s ease-in-out;
-moz-transition: all 0.40s ease-in-out;
-o-transition: all 0.40s ease-in-out;
transition: all 0.40s ease-in-out;
}
.footer_btn:hover{
	background:#061335;
}



/* fixed social*/
#fixed-social {
    position: fixed;
    top: 303px;
}

#fixed-social a {
   color: #fff;
   display: block;
   height: 40px;
   position: relative;
   text-align: center;
    line-height: 40px;
   width: 40px;
   margin-bottom: 1px;
   z-index: 2;
}
#fixed-social a:hover>span{
	visibility: visible;
  left: 41px;
  opacity: 1;
} 
#fixed-social a span {
	line-height: 40px;
    left: 60px;
    position: absolute;
    text-align: center;
    width: 120px;
    visibility: hidden;
    transition-duration: 0.5s;
    z-index: 1;
    opacity: 0;
}
 .fixed-facebook{
 	background-color: #294dea;
 }
 .fixed-facebook span{
	background-color: #294dea;
 }
 .fixed-twitter{
	background-color: #141618;

 }
 .fixed-twitter span{
 	background-color: #141618;
 }
 .fixed-gplus{
	background-color: #294dea;

 }
 .fixed-gplus span{
 	background-color: #294dea;
 }
 .fixed-linkedin{
	background-color: #141618;

 }
 .fixed-linkedin span{
 	background-color: #141618;
 }

/*end fixed social*/



.road_map h2 {
	text-align: center;
	font-size: 36px;
	color: #2d2929;
	position: relative;
	padding-bottom: 50px;
	font-family: 'Oswald', sans-serif;
}
	
.road_map h2::after {
	content: "";
	background: url(../images/border_heading.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}


.road_map {
	overflow: hidden;
	padding: 120px 0 0 0;
	outline: none;
}




.pr {
	position: relative
}
.feature-image {
	display: table;
	width: 100%;
}
.feature-image.feature-slider {
	display: block;
	position: relative
}

.feature-image.feature-lg .content {
	padding-top: 250px;
	padding-bottom: 250px;
	max-width: 900px;
	margin: 0 auto
}
.feature-image.feature-lg .shadow-content>* {
	background: rgba(0,0,0,0.7);
	max-width: 700px;
	margin: 0 auto;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px
}
.feature-image.feature-lg h1 {
	font-size: 48px;
	font-weight: 300
}
.feature-image.feature-lg h2 {
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 30px;
}

.feature-image.feature-lg .lead {
	font-size: 22px;
	line-height: 1.8;
	font-weight: 300;
	max-width: 700px;
	margin: 0 auto
}
.feature-image.feature-lg.feature-image-section-1 .content {
	padding-top: 200px
}
.feature-image.feature-lg.feature-image-section-1 h2 {
	margin-bottom: 80px;
}

.feature-image.feature-lg.feature-image-section-1 h2 {
	margin-bottom: 100px
}

.feature-image.feature-lg.feature-image-section-1 h3 {
	font-size: 36px;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 30px
}
.feature-image.feature-lg.feature-image-section-3 h3 {
	font-size: 44px
}
.feature-image.feature-lg.feature-image-section-3 h3:first-child {
	margin-bottom: 40px
}

.feature-image.feature-sm h2 {
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 30px
}
.feature-image.feature-sm .lead {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 300
}
.feature-image .content {
	color: #fff;
	margin-top: 70px;
}
.feature-image .feature-content-section-4, .feature-image .feature-content-section-5 {
	text-align: center;
}
.feature-image .feature-content-section-4 .content, .feature-image .feature-content-section-5 .content {
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	text-align: left
}
.feature-image .feature-content-section-4 {
	background-color: #49494b;
}
.feature-image .feature-content-section-4 h2 {
	margin-bottom: 40px
}
.feature-image .feature-content-section-4 h3 {
	font-size: 30px;
	font-weight: bold
}
.feature-image .feature-content-section-5 {
	background-color: #33b9b0
}
.feature-slider .container-fluid {
	padding: 0 50px
}
.min-height-400 {
	min-height: 400px
}

.col-2 {
	float: left;
	width: 50%
}

#sync1 {
	position: static;
}
#sync1 .item {
	padding: 60px 0;
	margin: 5px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px
}
#sync1 .item-content {
	padding: 40px;
}
#sync1 .item-content h3 {
	font-size: 35px;
	margin-bottom: 30px;
	color: #282828;
	font-family: 'Oswald', sans-serif;
	text-align:left;
	font-weight:400;
}
#sync1 .item-content .desc {
	margin-bottom: 2em;
	text-align: left;
	line-height: 1.8;
	color: #333
}
#sync1 img {
	-moz-box-shadow: 0 0 10px 0 #a3adbd;
	-webkit-box-shadow: 0 0 10px 0 #a3adbd;
	box-shadow: 0 0 10px 0 #a3adbd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5)
}
#sync1 .owl-buttons div {
	position: absolute;
	top: 40%;
	font-size: 40px;
	color: #17232a;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	height: 50px;
	padding: 0 7px;
}
#sync1 .owl-buttons div:hover {
	color: #fff;
	background-color: #17232a
}
#sync1 .owl-buttons div .fa {
	width: 36px;
	height: 40px
}
#sync1 .owl-buttons .owl-prev {
	left: 20px
}
#sync1 .owl-buttons .owl-next {
	right: 20px
}
#sync2 .item {
	position: relative;
	padding: 10px 0;
	margin: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	height: 120px;
}
#sync2 .item .connector {
	content: '';
	position: absolute;
	height: 2px;
	width: 0;
	top: 32%;
	left: -35%;
	background: #a3adbd;
	z-index: 0;
	-webkit-transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s
}
#sync2 .item a {
	color: #f8f8f8
}
#sync2 .item h1 {
	font-size: 18px
}
#sync2 .synced.active:first-child .icon-round {
	background-color: #f8a791
}
#sync2 .synced.active:nth-child(2) .icon-round {
	background-color: #f9c190
}
#sync2 .synced.active:nth-child(3) .icon-round {
	background-color: #007ec3
}
#sync2 .synced.active:nth-child(4) .icon-round {
	background-color: #fcaf17
}
#sync2 .synced.active:nth-child(5) .icon-round {
	background-color: #8dc63f
}
#sync2 .synced.active:nth-child(6) .icon-round {
	background-color: #00a649
}
#sync2 .synced.active:nth-child(7) .icon-round {
	background-color: #1d7d64
}
#sync2 .synced.active:nth-child(8) .icon-round {
	background-color: #43505a
}
#sync2 .synced.active:nth-child(9) .icon-round {
	background-color: #193059
}
#sync2 .synced:first-child .icon-round {
	background-color: #f8a791
}
#sync2 .synced:nth-child(2) .icon-round {
	background-color: #fac18f
}
#sync2 .synced:nth-child(3) .icon-round {
	background-color: #62c7ff
}
#sync2 .synced:nth-child(4) .icon-round {
	background-color: #fed78b
}
#sync2 .synced:nth-child(5) .icon-round {
	background-color: #c6e39f
}
#sync2 .synced:nth-child(6) .icon-round {
	background-color: #53ff9f
}
#sync2 .synced:nth-child(7) .icon-round {
	background-color: #6fddc1
}
#sync2 .synced:nth-child(8) .icon-round {
	background-color: #9aa8b4
}
#sync2 .synced:nth-child(9) .icon-round {
	background-color: #648cd4
}
#sync2 .synced .icon-round {
	-moz-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #a3adbd !important;
	-webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 3px #a3adbd !important;
	box-shadow: 0 0 0 2px #fff, 0 0 0 3px #a3adbd !important;
	color: #fff;
}
#sync2 .synced .icon-round .fa {
	color: #fff
}
#sync2 .icon-round {
	margin: auto;
	margin-bottom: 10px;
	padding: 12px 9px;
	font-size: 18px;
	height: 60px;
	width: 60px;
	text-align: center;
	background: #9aa8b3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-moz-box-shadow: 0 0 0 2px #17232a;
	-webkit-box-shadow: 0 0 0 2px #17232a;
	box-shadow: 0 0 0 2px #17232a;
}
#sync2 .icon-round:hover {
	-moz-box-shadow: 0 0 0 1px #a3adbd, 0 0 0 2px #fff, 0 0 0 3px #a3adbd !important;
	-webkit-box-shadow: 0 0 0 1px #a3adbd, 0 0 0 2px #fff, 0 0 0 3px #a3adbd !important;
	box-shadow: 0 0 0 1px #a3adbd, 0 0 0 2px #fff, 0 0 0 3px #a3adbd !important
}
#sync2 .icon-round .fa {
	color: #17232a;
	width: 42px;
	height: 36px;
	font-size: 32px
}
#sync2 .product-label {
    color: #0e161a;
    font-size: 12px;
}
#sync2 .icon-round img {
    width: auto;
    margin: 12px;
}
.icon-round {
	width: 120px;
	height: 120px;
	display: table;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.icon-round .fa {
	display: table-cell;
	vertical-align: middle;
	font-size: 48px
}


#sync2 .item .connector {
    left: -23%;
}
#sync2 .synced .connector {
    width: 38%;
}
.feature-slider .container-fluid {
	padding: 0 100px;
	max-width: 1600px
}
.col-md-6 {
	float: left;
	width: 50%;
}






.token_1 {
	overflow: hidden;
	padding: 0;
	outline: none;
}

.token_1 h2 {
	text-align: center;
	font-size: 36px;
	color: #2d2929;
	position: relative;
	padding-bottom: 50px;
	font-family: 'Oswald', sans-serif;
}
	
.token_1 h2::after {
	content: "";
	background: url(../images/border_heading.png);
	width: 393px;
	height: 44px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}

.video_src {
	width: 45%;
	float: left;
	margin: 60px 0;
}
	
.canvasjs-chart-credit {
	display: none;
}	

.pai {
	width: 45%;
	margin: 60px 0 60px 80px;
	float: right;
}
.video_src ul li {
	margin: 10px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}
.video_src ul li strong{
	color:#1f1f1f;}
	
.pai ul {
	margin-top: 40px;
	margin-left: 110px;
}
.pai ul li {
	margin: 10px 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}
.pai ul li .bg_btn {
	height: 15px;
	width: 15px;
	background: #0f358e;
	overflow: hidden;
	float: left;
	margin-top: 5px;
	margin-right: 7px;
	border-radius:50%;
}

.pai ul li:nth-child(2) .bg_btn {
	background: #dc3d6e;
	}
	
.pai ul li:nth-child(3) .bg_btn {
	background: #3a59a2;
	}	
	
	
.pai ul li:last-child .bg_btn {
	background: #d5124e;
	}		
	
.ut-btn-group {
	display: inline-block;
	width: 100%;
	margin-top: 30px;
}	

.ut-btn-group-pat {
	display: inline-block;
	width: 100%;
	margin-top: 100px;
}	

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
	box-sizing: border-box;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 15px;
    background-color: rgba(7,23,65,1);
    color: white;
}

/* Modal Body */
.modal-body {
	padding: 15px;
	position: relative;
}

/* Modal Footer */
.modal-footer {
    padding: 15px;
    background-color: rgba(7,23,65,1);
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 30px auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}