
body {
    margin: 0;
   
}


.ut-custom-link-module i {
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    -webkit-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
a:hover {
    color: #151515;
    cursor: pointer;
}
.light a:hover {
    color: #FFFFFF;
}
a img {
    border: none;
    vertical-align: bottom;
}
/* #Images & Media
================================================== */

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
    width: auto\9; /* ie8 */
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: bottom;
    image-rendering: -webkit-optimize-contrast;
}

/* I9 and IE10 SVG Image Fix*/
.ie9 img[src$=".svg"] {
    width: 100%; 
    max-height: 100% !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
      width: 100%;
      max-height: 100% !important;
  }
}


.ut-has-top-header .ut-header-inner {
    padding-left: 40px;
    padding-right: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 40px;
}
.ut-site-border.ut-has-top-header .ut-header-inner {
    padding: 0px;
}
.ut-top-header-centered .ut-header-inner {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}
.ut-site-border #main-content {
    /*-webkit-flex: none;
    flex: none;*/
    overflow: hidden;
}
#ut-top-header {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    background: #FFFFFF;
}
#ut-top-header.ut-top-header-small {
    font-size: 12px;
}
#ut-top-header.ut-top-header-big {
    font-size: 14px;
}
#ut-top-header-left #ut-top-header-right {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#ut-top-header-left ul, #ut-top-header-right ul {
    margin: 0;
    list-style: none;
}
#ut-top-header-left ul li, #ut-top-header-right ul li {
    display: inline;
    float: left;
}
#ut-top-header-right ul li {
    float: right;
}
#ut-top-header-left {
    -webkit-flex: 1;
    flex: 1;
    height: 40px;
    text-align: left;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
#ut-top-header-left ul li i {
    padding-right: 10px;
    line-height: 40px;
}
#ut-top-header-left ul li {
    padding-right: 20px;
}
#ut-top-header-right {
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    height: 40px;
    text-align: right;
    -webkit-align-content: flex-end;
    align-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    margin-left: auto;
}
#ut-top-header-right a i {
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    font-size: 16px;
    line-height: 40px;
    -webkit-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: color 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
#ut-top-header-right ul li {
    padding-left: 20px;
}
#ut-top-header-right ul li a {
    display: block;
    height: 40px;
}
.ha-header.bordered-navigation.ut-header-light {
    background: rgb(255,255,255);
}
.ha-header.bordered-navigation.ut-header-dark {
    background: #131416;
}

/* #Header Section
================================================== */

#header-section {
    line-height: 80px;
    will-change: transform;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#header-section.ut-header-has-border {
    border-bottom: 1px solid;
    border-color: rgb(255,255,255);
    border-color: rgba(255,255,255, 0.1);
}
.grid-container .ha-header-perspective {
    padding: 0;
}
.ha-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
   
}
.ha-header {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.ha-header.ut-header-transition-off {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}
.ha-header.ut-header-light {
    border-bottom: 1px solid #DDDDDD;
}
.ha-header.ha-transparent {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ha-header.ha-transparent:hover {
    background: rgb(19,20,22);
    background: rgba(19,20,22,0.25);
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    transition: background 0.5s;
}
.ha-header.ut-header-light {
    background: rgb(255,255,255);
    background: rgba(255,255,255,1);
}
.ha-header.ut-header-dark {
    background: #131416;
}
.ha-header-perspective {
    width: 100%;
    height: 100%;
    position: relative;
}
.ha-header-perspective > div {
    position: relative;
}
.ha-header-front {
    z-index: 2;
}
.ha-header-small, 
.ha-header-hide {
    height: 80px;
    line-height: 80px !important;
}
.ha-header-hide .site-logo, .ha-header-hide .ut-mm-trigger, .ha-header-hide .ut-mm-button, .ha-header-small .site-logo, .ha-header-small .ut-mm-trigger, .ha-header-small .ut-mm-button {
    
    line-height: 80px !important;
}
#ut-sitebody.ut-mobile-menu-open .ha-header-small {
    height: auto;
}
.ha-header-hide {
    overflow: hidden;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.ha-header-show {
    height: 80px;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
}
.site-logo {
    color: #151515;
    display: table;
    text-align: left;
    margin: 0;
    height: 25px;
    position: relative;
}
.ha-header.ha-transparent .site-logo .logo a, .ut-header-dark .site-logo .logo a {
    color: #FFFFFF;
}



.page-header, .parallax-header, .section-header {
    text-align: center;
    padding-bottom: 30px;
    position: relative;
}
.page-title, .parallax-title, .section-title {
    font-size: 30px;
    margin-bottom: 20px;
    position: relative;
}
.header-left {
    text-align: left;
}
.header-right {
    text-align: right;
}
.pt-style-1 .page-title, .pt-style-1 .section-title {
    display: inline-block;
    padding: 0 120px;
    overflow: hidden;
    margin-bottom: 0;
}
.pt-style-1 .page-title.bklyn-divider-styles, .pt-style-1 .section-title.bklyn-divider-styles {
    background: none !important;
}
.pt-style-1 .section-title span, .pt-style-1 .page-title span {
    display: inline-block;
    padding: 0 20px;
    position: relative;
    vertical-align: baseline;
}
.pt-style-1 .page-title.bklyn-divider-styles span::before, .pt-style-1 .page-title.bklyn-divider-styles span::after, .pt-style-1 .section-title.bklyn-divider-styles span::before, .pt-style-1 .section-title.bklyn-divider-styles span::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 1160px;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: center center;
}
.pt-style-1 .page-title.bklyn-divider-styles span::before, .pt-style-1 .section-title.bklyn-divider-styles span::before {
    right: 100%;
}
.pt-style-1 .page-title.bklyn-divider-styles span::after, .pt-style-1 .section-title.bklyn-divider-styles span::after {
    left: 100%;
}
.pt-style-1 .page-title.bklyn-divider-style-1 span::before, .pt-style-1 .page-title.bklyn-divider-style-1 span::after, .pt-style-1 .section-title.bklyn-divider-style-1 span::before, .pt-style-1 .section-title.bklyn-divider-style-1 span::after {
    background-image: url('images/divider.png');
    height: 9px;
    margin-top: -4.5px;
}
.pt-style-1 .parallax-title {
    background-attachment: scroll;
    background-image: url('images/divider.png');
    background-repeat: repeat-x;
    background-position: top center;
    padding-top: 20px;
    display: inline-block;
}
.pt-style-1.header-left, .pt-style-1.header-left, .pt-style-1.header-left .page-title span, .pt-style-1.header-left .section-title span, .pt-style-1.header-left .page-title, .pt-style-1.header-left .section-title {
    padding-left: 0;
}
.pt-style-1.header-right, .pt-style-1.header-right, .pt-style-1.header-right .page-title span, .pt-style-1.header-right .section-title span, .pt-style-1.header-right .page-title, .pt-style-1.header-right .section-title {
    padding-right: 0;
}
.pt-style-2 .page-title:after, .pt-style-2 .parallax-title:after, .pt-style-2 .section-title:after {
    content: "";
    display: block;
    background-color: #151515;
    width: 30px;
    height: 1px;
    margin: 15px auto 0;
}
.light .pt-style-2 .page-title:after, .light .pt-style-2 .parallax-title:after, .light .pt-style-2 .section-title:after {
    background-color: #FFFFFF;
}
.pt-style-2.header-left .page-title:after, 
.pt-style-2.header-left .parallax-title:after, 
.pt-style-2.header-left .section-title:after {
    margin: 15px 0 0;
}
.pt-style-2.header-right .page-title:after, 
.pt-style-2.header-right .parallax-title:after, 
.pt-style-2.header-right .section-title:after {
    margin: 15px 0 0 auto;        
}
.pt-style-3 .page-title, .pt-style-3 .parallax-title, .pt-style-3 .section-title {
    margin-bottom: 25px;
    margin-top: 3px;
}
.pt-style-3 .page-title span, .pt-style-3 .parallax-title span, .pt-style-3 .section-title span {
    color: #FFFFFF;
    padding: 5px 10px;
    border: 3px solid #FFFFFF;
    display: inline-block;
}
.pt-style-4 .page-title span, .pt-style-4 .parallax-title span, .pt-style-4 .section-title span {
    display: inline-block;
    border: 6px solid #151515;
    padding: 0.1em 0.2em;
}
.light .pt-style-4 .parallax-title span, .light .pt-style-4 .section-title span {
    display: inline-block;
    border: 6px solid #FFFFFF;
    padding: 0.1em 0.2em;
}
.pt-style-5 .page-title, .pt-style-5 .parallax-title, .pt-style-5 .section-title {
    margin-bottom: 25px;
    margin-top: 3px;
}
.pt-style-5 .page-title span, .pt-style-5 .section-title span {
    color: #FFFFFF;
    padding: 5px 10px;
    border: 3px solid #FFFFFF;
    display: inline-block;
    background: #151515;
    -webkit-box-shadow: 0 0 0 3px #151515;
    -moz-box-shadow: 0 0 0 3px #151515;
    box-shadow: 0 0 0 3px #151515;
}
.pt-style-5 .parallax-title span {
    color: #151515;
    padding: 5px 10px;
    border: 3px solid #151515;
    display: inline-block;
    background: #FFFFFF;
    -webkit-box-shadow: 0 0 0 3px #FFFFFF;
    -moz-box-shadow: 0 0 0 3px #FFFFFF;
    box-shadow: 0 0 0 3px #FFFFFF;
}
.pt-style-6 .page-title:after, .pt-style-6 .parallax-title:after, .pt-style-6 .section-title:after {
    content: "";
    display: block;
    border-bottom: 1px dotted #151515;
    width: 30px;
    height: 1px;
    margin: 15px auto 0;
}
.light .pt-style-6 .page-title:after, .light .pt-style-6 .parallax-title:after, .light .pt-style-6 .section-title:after {
    border-bottom: 1px dotted #FFFFFF;
}
.pt-style-6.header-left .page-title:after, .pt-style-6.header-left .parallax-title:after, .pt-style-6.header-left .section-title:after {
    margin: 15px 0 0;
}
.page-title span span, .page-title .vcard {
    padding: 0 !important;
}
.page-title .vcard a:hover {
    color: #151515;
}
.ut-lead-has-icon {
    position: relative;
}
.ut-lead-has-icon::before {
    position: absolute;
    top: 20%;
    left: 0;
}
@media (max-width: 767px) {
    .ut-lead-has-icon::before {
        display: none !important;
    }
}
.ut-lead-has-icon > p {
    margin-left: 30px;
}
.lead, 
.taxonomy-description {
    font-size: 1.125em;
    line-height: 200%;
}
.lead ins {
    background: none;
    padding: 0;
}
/* #Hero Section
================================================== */

#ut-hero {
    transition: background-image 1s linear;
    -moz-transition: background-image 1s linear;
    -webkit-transition: background-image 1s linear;
    -ms-transition: background-image 1s linear;
}
.hero-title .wpb_content_element, .ut-split-hero .hero-title {
    margin-bottom: 0;
}
.home section:not(.ut-custom-hero) {
    overflow: hidden;
}
.ut-custom-hero {
    overflow: visible;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}
.ut-offset-anchor {
    width: 0px;
    height: 0px;
    display: block;
    overflow: hidden;
    visibility: hidden;
}
.ut-bklyn-onepage .ut-offset-anchor,
.ut-bklyn-multisite .ut-offset-anchor {
    position: absolute;
    top: 0;
    left: 0;
}
.ut-bklyn-multisite .ut-scroll-up-waypoint {
    position: absolute;
    bottom: 0;
    left: 0;
}
/* Hero Slider */

.ut-hero-slider {
    border: none !important;
    height: 100%;
    position: relative;
}
.hero.slider {
    background: #FFFFFF;
}
.hero.slider .parallax-overlay {
    z-index: 3;
    display: none;
}
.ut-hero-slider .flex-viewport {
    width: 100%;
    height: 100%;
}
.ut-hero-slider .slides {
    height: 100%;
    position: relative;
    width: 100%;
}
.ut-hero-slider .slides li {
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    height: 100%;
    position: relative;
}
.ut-hero-captions {
    position: absolute !important;
    width: 100%;
    z-index: 10;
    background: none;
    border: none;
    top: 0;
}
a.ut-flex-control {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0;
    position: absolute;
    top: 50%;
    z-index: 11;
    margin-top: -30px;
    overflow: hidden;
    opacity: 1;
    cursor: pointer;
    color: #ffffff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
}
a.ut-flex-control:before {
    font-family: 'Brooklyn-Core';
    font-size: 40px;
    line-height: 60px;
    display: inline-block;
    content: '\e90a';
}
a.ut-flex-control.next:before {
    content: '\e915';
}
a.ut-flex-control.prev {
    left: 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
a.ut-flex-control.next {
    right: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
a.ut-flex-control.prev:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
}
a.ut-flex-control.next:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
}

.ut-page-has-no-content .hero {
    min-height: auto;
}
#ut-sitebody.ut-page-has-no-content #primary {
    padding: 0;
}
.hero .grid-container {
    height: 100%;
    min-height: 100%;
    position: relative;
}
.hero-holder {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.hero-holder.hero-holder-align-items-bottom {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.hero-holder.hero-holder-align-items-top {
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.hero-holder.hero-holder-align-items-top .hero-inner {
    padding-top: 80px;
}
.ut-hero-header-off .hero-holder.hero-holder-align-items-top .hero-inner {
    padding-top: 160px;
}
.hero-holder {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
}
.ut-js .hero-holder {
    opacity: 0;
}
.ut-bklyn-maintenance .hero-holder {
    opacity: 1;
}
.hero-inner {
    position: relative;
    width: 100%;
}
.ut-split-hero > .hero-inner {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.ut-split-hero.ut-hero-highlighted-with-form > .hero-inner {
    -webkit-align-items: start;
    align-items: start;
}
.hero-inner .ut-hero-highlighted-header {
    padding: 0 20px 0 10px;
    width: 100%;
}
.hero-inner .ut-hero-highlighted-item {
    padding: 0 10px 0 20px;
    width: 100%;
}
.ut-hero-highlighted-item .ut-video {
    margin: 0;
}
.ut-hero-form form {
    color: #FFFFFF;
}
.ut-hero-form label {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 24px;
}
.ut-hero-form {
    background: rgba(0,0,0,0.15);
    padding: 40px;
}
.ut-hero-form.light input, .ut-hero-form.light textarea {
    background: transparent;
    padding: 10px 0;
    border-width: 0 0 2px 0;
    border-color: rgba(255,255,255,0.15);
    -webkit-transition: border 0.40s ease-in-out;
    -moz-transition: border 0.40s ease-in-out;
    -o-transition: border 0.40s ease-in-out;
    transition: border 0.40s ease-in-out;
}
.ut-hero-form.light textarea {
    vertical-align: top;
}
.ut-hero-form.light input:hover, .ut-hero-form.light textarea:hover {
    border-width: 0 0 2px 0;
    background: transparent;
    border-color: rgba(255,255,255,0.30);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ut-hero-form.light input:focus, .ut-hero-form.light input:active, .ut-hero-form.light textarea:active, .ut-hero-form.light textarea:focus {
    border-width: 0 0 2px 0;
    background: transparent;
    border-color: rgba(255,255,255,1);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ut-hero-form.light button, .ut-hero-form.light input[type="submit"], .ut-hero-form.light input[type="button"] {
    padding: 8px 12px;
}
#ut-sitebody .span.wpcf7-not-valid-tip {
    color: #151515 !important;
}
#ut-sitebody .light .span.wpcf7-not-valid-tip {
    color: #FFFFFF !important;
}
.hero-inner p img {
    margin-bottom: 0;
    margin-top: 0;
}
.hero-inner.hero-bottom {
    vertical-align: bottom;
}

.ut-hero-style-4 .hdh, 
.ut-hero-style-6 .hdh, 
.ut-hero-style-7 .hdh, 
.ut-hero-style-8 .hdh {
    margin-bottom: 16px;
}
.ut-hero-style-4 .hdb, 
.ut-hero-style-6 .hdb, 
.ut-hero-style-7 .hdb, 
.ut-hero-style-8 .hdb {
    margin-top: 20px;
}
.ut-hero-style-1 .hero-title {
    background-attachment: scroll;
    background-image: url('images/divider.png');
    background-repeat: repeat-x;
    background-position: top center;
    padding-top: 14px;
}
.ut-hero-style-2 .hdh {
    margin-bottom: 0;
}
.ut-hero-style-3 .hero-description {
    border-bottom: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-3 .hero-description {
    padding-bottom: 0;
}
.ut-hero-style-3 .hero-btn, 
.ut-hero-style-3 .hero-second-btn {
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-4 .hero-title {
    background: #FFFFFF;
    padding: 8px 12px;
    color: #151515;
    border: 3px solid #151515;
    -webkit-box-shadow: 0 0 0 3px #FFFFFF;
    -moz-box-shadow: 0 0 0 3px #FFFFFF;
    box-shadow: 0 0 0 3px #FFFFFF;
}
.ut-hero-style-4 .hero-btn {
    background: #FFFFFF;
    color: #151515;
}
.ut-hero-style-5 .hero-description {
    border-bottom: 3px solid;
}
.ut-hero-style-5 .hero-btn, 
.ut-hero-style-5 .hero-second-btn {
    border-color: #FFFFFF;
}
.ut-hero-style-6 .hero-title {
    padding: 0.2em;
    border: 4px solid rgb(255, 255, 255);
    border: 4px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-6 .hero-btn, 
.ut-hero-style-6 .hero-second-btn {
    border: 2px solid rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0.15);
}
.ut-hero-style-7 .hero-title {
    padding: 0.1em 0.2em;
    border: 6px solid rgb(255, 255, 255);
}
.ut-hero-style-7 .hero-btn, 
.ut-hero-style-7 .hero-second-btn {
    border: 3px solid rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 1);
}
.ut-hero-style-8 .hero-title {
    border-top: 4px solid rgb(255, 255, 255);
    border-bottom: 4px solid rgb(255, 255, 255);
    padding: 0.2em 0;
}
.ut-hero-style-8 .hero-btn, 
.ut-hero-style-8 .hero-second-btn {
    border: 2px solid rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 1);
}
.ut-hero-style-9 .hero-title {
    border-right: 4px solid rgb(255, 255, 255);
    border-left: 4px solid rgb(255, 255, 255);
    padding: 0 0.2em;
}
.ut-hero-style-9 .hero-btn, 
.ut-hero-style-9 .hero-second-btn {
    border: 2px solid rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 1);
}
.ut-hero-style-10 .hero-title {
    border-right: 4px dashed rgb(255, 255, 255);
    border-left: 4px dashed rgb(255, 255, 255);
    padding: 0 0.2em;
}
.ut-hero-style-10 .hero-btn, 
.ut-hero-style-10 .hero-second-btn {
    border: 2px solid rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 1);
}
.hero-down-arrow-wrap {
    opacity: 0;
}
#ut-sitebody:not(.ut-bklyn-maintenance) .hero-holder.ut-hero-ready, 
.hero-down-arrow-wrap.ut-hero-ready {
    opacity: 1;
    -webkit-transition: opacity 0.40s ease-in-out;
        -moz-transition: opacity 0.40s ease-in-out;
            -o-transition: opacity 0.40s ease-in-out;
                transition: opacity 0.40s ease-in-out;
}
.ut-no-js .hero-down-arrow-wrap, 
.ut-no-js .hero-holder {
    opacity: 1;
}
.hero-down-arrow {
    bottom: 10px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    z-index: 1000;
}
.hero-down-arrow {
    color: #FFFFFF;
}
.hero-down-arrow a:hover, 
.hero-down-arrow a:focus, 
.hero-down-arrow a:active {
    color: #FFFFFF;
}
.hero-btn-holder {
    display: block;
    margin-top: 20px;
}
.hero-btn, 
.hero-second-btn {
    background: transparent;
    color: #FFFFFF;
    font-weight: bold;
    border: 1px solid rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255,1);
    padding: 0.8em 1em;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.hero-btn-shadow:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow:  0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) ;
}
.hero-btn-icon-before {
    padding-right: 10px;
}
.hero-btn-icon-after {
    padding-left: 10px;
}
.hero-second-btn {
    margin-left: 16px;
}
.hero-btn:hover, 
.hero-second-btn:hover {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.05);
}
/* UT Hero Custom */

#ut-hero.ut-hero-custom .grid-container {
    max-width: 100%;
}
#ut-hero.ut-hero-custom .hero-inner.ut-hero-custom-left {
    padding-left: 20px;
}
#ut-hero.ut-hero-custom .hero-inner.ut-hero-custom-right {
    padding-right: 20px;
}
#ut-hero.ut-hero-custom .hero-inner.ut-hero-custom-left.ut-hero-bottom, #ut-hero.ut-hero-custom .hero-inner.ut-hero-custom-right.ut-hero-bottom {
    padding-bottom: 40px;
    vertical-align: bottom;
}
/* Ut Hero Split Video */

.ut-hero-video .ut-video {
    margin-bottom: 0;
}
.ut-hero-video-boxed {
    background: transparent;
    margin: 0;
    border: 1px solid;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.ut-hero-video-boxed.ut-hero-video-dark {
    border-color: #000000 !important;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.ut-hero-video-boxed.ut-hero-video-light {
    background: rgba(255,255,255,0.05);
    border-color: rgb(255,255,255);
    border-color: rgba(255,255,255,1)
}
.ut-hero-style-1 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-1 .ut-hero-video-boxed.ut-hero-video-light {
    background: transparent;
    border: none;
    padding: 20px 0 0 0;
    background-attachment: scroll;
    background-image: url('images/divider.png');
    background-repeat: repeat-x;
    background-position: top center;
}
.ut-hero-style-2 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-2 .ut-hero-video-boxed.ut-hero-video-light {
    background: transparent;
    border: none;
    padding: 0;
}
.ut-hero-style-3 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-3 .ut-hero-video-boxed.ut-hero-video-light {
    border-color: rgb(255,255,255);
    border-color: rgba(255,255,255,0.15);
    border-width: 2px;
    padding: 0;
}
.ut-hero-style-4 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-4 .ut-hero-video-boxed.ut-hero-video-light {
    padding: 0;
    background: 0;
    border-width: 4px;
}
.ut-hero-style-5 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-5 .ut-hero-video-boxed.ut-hero-video-light {
    padding: 0;
    background: transparent;
    border-width: 3px 0 0;
}
.ut-hero-style-6 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-6 .ut-hero-video-boxed.ut-hero-video-light {
    border-width: 4px;
    border-color: rgb(255,255,255);
    border-color: rgba(255,255,255,0.15);
    padding: 0;
}
.ut-hero-style-7 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-7 .ut-hero-video-boxed.ut-hero-video-light {
    padding: 0;
    border: 6px solid rgb(255,255,255);
    border: 6px solid rgba(255,255,255,1);
}
.ut-hero-style-8 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-8 .ut-hero-video-boxed.ut-hero-video-light {
    border-color: rgb(255,255,255);
    border-color: rgba(255,255,255,1);
    border-width: 4px 0 4px 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
}
.ut-hero-style-9 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-9 .ut-hero-video-boxed.ut-hero-video-light {
    border-width: 0 4px;
    border-color: #FFFFFF;
    padding: 0;
    background: transparent;
}
.ut-hero-style-10 .ut-hero-video-boxed.ut-hero-video-dark, .ut-hero-style-10 .ut-hero-video-boxed.ut-hero-video-light {
    border-color: #FFFFFF;
    border-style: dashed;
    border-width: 4px 0 0 0;
    padding: 0;
    background: transparent;
}
.ut-hero-style-1 .ut-hero-video-boxed.ut-hero-video-themecolor {
    background: transparent;
    border: none;
    padding: 20px 0 0 0;
    background-attachment: scroll;
    background-image: url('images/divider.png');
    background-repeat: repeat-x;
    background-position: top center;
}
.ut-hero-style-2 .ut-hero-video-boxed.ut-hero-video-themecolor {
    background: transparent;
    border: none;
    padding: 0;
}
.ut-hero-style-3 .ut-hero-video-boxed.ut-hero-video-themecolor {
    border-width: 2px;
    padding: 0;
}
.ut-hero-style-4 .ut-hero-video-boxed.ut-hero-video-themecolor {
    padding: 0;
    background: 0;
    border-width: 4px;
}
.ut-hero-style-5 .ut-hero-video-boxed.ut-hero-video-themecolor {
    padding: 0;
    background: transparent;
    border-width: 3px 0 0;
}
.ut-hero-style-6 .ut-hero-video-boxed.ut-hero-video-themecolor {
    border-width: 4px;
    padding: 0;
}
.ut-hero-style-7 .ut-hero-video-boxed.ut-hero-video-themecolor {
    padding: 0;
    border-width: 6px;
}
.ut-hero-style-8 .ut-hero-video-boxed.ut-hero-video-themecolor {
    border-width: 4px 0 4px 0;
    padding-left: 0;
    padding-right: 0;
    background: transparent;
}
.ut-hero-style-9 .ut-hero-video-boxed.ut-hero-video-themecolor {
    border-width: 0 4px;
    padding: 0;
    background: transparent;
}
.ut-hero-style-10 .ut-hero-video-boxed.ut-hero-video-themecolor {
    border-style: dashed;
    border-width: 4px 0 0 0;
    padding: 0;
    background: transparent;
}
/* UT Slider Tablet */
.ut-tablet-holder {
    height: 100%;
    width: 100%;
    display: table;
}
.ut-tablet-inner {
    display: table-cell;
    position: relative;
    vertical-align: bottom;
    width: 100%;
    text-align: left;
    color: #FFFFFF;
}
.ut-tablet-title {
    color: #FFFFFF;
    margin-bottom: 30px;
}
.ut-right-tablet-button {
    margin-right: 0;
}
ul.ut-tablet-nav {
    margin: 0 0 40px 0;
    padding: 0;
}
ul.ut-tablet-nav a {
    color: #FFFFFF;
}
ul.ut-tablet-nav li {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0;
}
ul.ut-tablet-nav li:before {
    content: "\f096";
    font-family: "FontAwesome";
    font-size: 12px;
    top: 0;
    left: 0;
    position: absolute;
}
ul.ut-tablet-nav li.selected:before {
    content: "\f046";
    font-family: "FontAwesome";
    font-size: 12px;
    top: 0;
    left: 0;
    position: absolute;
}
.ut-tablet-headline {
}
ul.ut-tablet {
    margin: 0;
    padding: 0;
    padding-top: 11.5%;
    padding-right: 10.1%;
    padding-left: 10.1%;
    overflow: hidden;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
ul.ut-tablet.white {
    background: url('images/pad_white.png');
    background-size: cover;
}
ul.ut-tablet.black {
    background: url('images/pad_black.png');
    background-size: cover;
}
ul.ut-tablet.shadow {
    box-shadow: 20px 0px 80px 0px rgba(0, 0, 0, 0.8);
}
ul.ut-tablet li {
    display: none;
    position: relative;
    padding: 2px 2px 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
ul.ut-tablet li img {
    width: 100%;
    margin: 0;
    padding: 0;
}
ul.ut-tablet li.show {
    display: block;
}
.ut-tablet-single-title {
    color: #FFFFFF;
}
.ut-tablet-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    transition: 0.2s linear;
    text-align: center;
    color: #FFFFFF !important;
    overflow: hidden;
}
.ut-tablet .show:hover .ut-tablet-overlay {
    opacity: 1;
}
.ut-tablet-overlay-content-wrap {
    width: 100%;
    height: 100%;
    display: table;
}
.ut-tablet-overlay-content {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
.ut-tablet-overlay .ut-btn {
    font-weight: bold;
}
/* Hero Video */
.ut-video-container {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    overflow: hidden;
}
.ut-video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ut-hero-video-position {
    top: 0 !important;
    position: relative !important;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}
#ut-video-hero::-webkit-media-controls {
 display: none !important;
}
/* Hero Blog  Brooklyn 5 stuff */

.ut-hero-meta-description-holder {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 150%;
}
.ut-hero-meta-description-holder a {
    color: #FFFFFF;
}
.ut-hero-meta-description-holder a:hover, .ut-hero-meta-description-holder a:active, .ut-hero-meta-description-holder a:focus {
    color:rgba(255,255,255,0.5);
}
.ut-hero-meta-description-holder div {
    display: inline;
}
.ut-hero-meta-description-holder div:not(:last-child)::after {
    content: '|';
    color: #FFFFFF;
    padding: 0 15px;
}
.ut-hero-meta-category {
}
.ut-hero-meta-author ul {
    display: inline;
    margin: 0;
    list-style: none;
}
.ut-hero-meta-author ul li {
    display: inline-block;
    vertical-align: middle;
}
.ut-hero-meta-author .ut-entry-avatar-image {
    height: 40px;
    margin-right: 15px;
    width: 40px;
}
.ut-hero-meta-author .ut-entry-avatar-image img, .ut-archive-hero-avatar img {
    border: 2px solid #ffbf00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.ut-archive-hero-avatar {
    display: block;
    height: 80px;
    width: 80px;
    margin: 0 auto 20px;
    text-align: center;
}
/* #Navigation
================================================== */

#navigation {
    font-family: 'ralewaymedium', Helvetica, Arial, sans-serif;
    float: right;
}
#navigation ul {
    position: relative;
    float: right;
}
#navigation ul li {
    position: relative;
    display: block;
    float: left;
}
#navigation ul li a {
    white-space: nowrap;
    padding-left: 25px;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
    text-decoration: none;
    display: block;
}
#navigation ul li a:not(.bklyn-btn) {
    color: #151515;
}
.ha-transparent #navigation ul li a:not(.bklyn-btn) {
    color: #FFFFFF;
}
.ut-header-dark #navigation ul li a:not(.bklyn-btn) {
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.5);
}
.ha-transparent #navigation ul li a:after {
    color: #FFFFFF;
}
#navigation ul li a:after {
    content: "\2022";
    position: absolute;
    top: 0;
    color: #151515;
    left: 9px;
}
.ut-header-dark #navigation ul li a:after {
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.5);
}
#navigation ul li:first-child a:after {
    display: none;
}
/* Nav Sublevel  */

.ha-header.ut-header-light #navigation ul.sub-menu {
    border: 1px solid #DDDDDD;
}
#navigation ul.sub-menu {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.10);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.10);
}
#navigation ul.sub-menu, #navigation ul.sub-menu li > a {
    -webkit-transition: color 400ms, background 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: color 400ms, background 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: color 400ms, background 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: color 400ms, background 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
#navigation ul.sub-menu {
    -webkit-transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
#navigation ul.sub-menu ul, #navigation ul.sub-menu li {
    margin-left: 0;
}
#navigation ul.sub-menu li a:after {
    display: none;
}
#navigation ul.sub-menu li > a {
    background: none !important;
    height: 30px;
    line-height: 30px;
    min-width: 200px;
    position: static;
    color: #151515;
    margin: 0;
    padding: 0 30px;
    font-size: 10px;
    text-transform: capitalize;
}
#navigation ul.sub-menu {
    border-top: 2px solid;
    background: rgb(255,255,255);
    background: rgba(255,255,255,1);
}
.ha-header.ut-header-dark #navigation ul.sub-menu {
    background: #131416;
}
.ha-header.ut-header-dark #navigation ul.sub-menu li > a {
    color: rgb(255,255,255);
    color: rgba(255,255,255,0.5);
}
.ha-transparent #navigation ul.sub-menu {
    background: rgb(19,20,22);
    background: rgba(19,20,22,0.25);
    border: 1px solid rgba(255,255,255,0.1);
}
.ha-transparent #navigation ul.sub-menu li > a {
    color: #FFFFFF;
}
.ut-header-dark #navigation li a:hover, .ut-header-dark #navigation ul li a:hover, .ha-header.ut-header-dark #navigation ul.sub-menu li > a:hover {
    color: #FFFFFF;
}
#navigation ul li ul li ul li {
    display: block;
}
#navigation ul li ul li ul li {
    display: block;
}
.sub-menu .sf-with-ul::before {
    font-family: 'Brooklyn-Core';
    content: "\e915";
    position: absolute;
    right: 25px;
}
/* Responsive Menu */

.ut-mm-trigger {
    cursor: pointer;
    text-align: right;
    position: relative;
    line-height: 80px;
    height: 80px;
}
.ut-mm-button {
    border: none;
    cursor: pointer;
    margin: 0;
    height: 80px;
    padding: 0;
    background: transparent;
}
.ut-mm-button:before {
    content: "\f0c9";
    font-family: 'FontAwesome';
    font-size: 25px;
    text-align: center;
    background: transparent;
    color: #FFFFFF;
    -webkit-transition: .2s color linear;
    -moz-transition: .2s color linear;
    transition: .2s color linear;
}
.ut-mm-button:hover, .ut-mm-button:focus, .ut-mm-button.active {
    background: transparent;
    outline: none !important;
}
#ut-mobile-nav {
    margin: 0;
}
.ut-mobile-menu {
    line-height: 150%;
    margin: 0;
}
#ut-mobile-menu {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}
.ut-mobile-menu .sub-menu {
    margin: 0 0 0 15px;
}
.ut-mobile-menu .bklyn-btn {
    display: block;
    margin: 0 0 10px;
}
.ha-transparent .ut-mobile-menu a:not(.bklyn-btn), 
.ut-header-dark .ut-mobile-menu a:not(.bklyn-btn), 
.ut-mobile-menu a:not(.bklyn-btn) {
    color: #151515;
    padding: 10px 0;
    border-bottom: 1px solid #DDDDDD;
    display: block;
    padding-left: 30px;
    position: relative;
    -webkit-transition: none;
        -moz-transition: none;
            transition: none;
}
.ut-header-dark .ut-mobile-menu a {
    color: rgb(255,255,255);
    color: rgba(255, 255, 255,0.5);
}
.ut-mobile-menu a:last-child {
    border-bottom: none;
}
.ut-header-light #ut-mobile-nav {
    background: #FFFFFF;
}
.ut-header-dark #ut-mobile-nav {
    background: #131416;
}
.ha-transparent #ut-mobile-menu, 
.ha-transparent #ut-mobile-menu a {
    border-color: #dddddd;
}
.ut-header-dark #ut-mobile-menu, 
.ut-header-dark .ut-mobile-menu a {
    border-color: rgb(255,255,255);
    border-color: rgb(255, 255, 255, 0.1);
}
.ut-mobile-menu a:not(.bklyn-btn):after {
    content: '•';
    position: absolute;
    top: 10px;
    left: 15px;
}
.ut-mobile-menu a:hover:after, 
.ut-mobile-menu a:hover {
    color: #FFFFFF;
}
.ut-mobile-menu li {
    padding: 0;
    margin: 0;
}

/* mobile menu scroll */

#ut-mobile-nav {
    overflow: hidden;
    position: relative;
    left: -10px;
    display: none;
}
.ut-scroll-pane-wrap {
    overflow: hidden;
}
.ut-scroll-pane {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}







.ut-inner-overlay div:not(.ut-loader__ball4):not(.ut-loader__bar4):not(.ut-loading-bar-style2-ball-effect):not(.sk-cube-grid):not(.sk-cube):not(.ut-double-bounce1):not(.ut-double-bounce2) {
    margin-top: 40px;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}
.ut-inner-overlay > div:first-child {
    margin-top: 0 !important;
}
.ut-inner-overlay > div:last-child {
    margin-bottom: 0 !important;
}
/* Overlay Menu */

/* #Overlay Menu
================================================== */

#ut-overlay-menu {
    z-index: 10001;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    opacity: 0;
    -webkit-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: all 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
#ut-overlay-menu.ut-overlay-menu-visible {
    visibility: visible;
    opacity: 1;
}
.ut-overlay-menu-row {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
}
.ut-overlay-menu-row-inner {
    display: table-row;
}
#ut-overlay-nav {
    display: table-cell;
    vertical-align: middle;
}
#ut-overlay-nav li {
    margin-top: 16px;
    margin-bottom: 16px;
}

#ut-overlay-nav ul {
    margin: 0;
    list-style: none;
}
#ut-overlay-nav ul > li {
    opacity: 1;
    font-size: 44px;
    line-height: 150%;
    text-transform: uppercase;
}
#ut-overlay-nav ul > li a {
    color: #FFFFFF;
}
#ut-overlay-nav ul.sub-menu li {
    font-size: 40px;
    line-height: 100%;
    display: inline-block;
}
#ut-close-overlay-menu {
    position: absolute;
    top: 0;
    right: 40px;
}
.ut-open-overlay-trigger {
    float: right;
    display: flex;
}
#ut-overlay-menu #ut-open-overlay-menu {
    position: absolute;
}
#ut-open-overlay-menu {
    align-self: center;
}
.ut-hamburger-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#ut-overlay-menu .site-logo {
    position: absolute;
}                      
#ut-overlay-nav ul.sub-menu li {
    display: inherit;
}

/* Link Animation Effect */

#ut-overlay-nav a {
    display: inline-block;
    position: relative;
}              
#ut-overlay-nav.ut-overlay-nav-animation-on a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 2px;
    width: 0;
    -webkit-transition: width 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: width 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: width 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: width 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    background: #151515;    
}
#ut-overlay-nav.ut-overlay-nav-animation-on a:hover::after {
    width: 100%;
}

/* Content Positions */
#ut-overlay-menu .ut-overlay-menu-row {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;                    
}

#ut-overlay-menu.ut-overlay-menu-centered .ut-overlay-menu-row {
    max-width: 1200px;
    padding-bottom: 40px;
}

#ut-overlay-menu.ut-overlay-menu-fullwidth .ut-overlay-menu-row {
    padding: 40px;
}

#ut-overlay-menu.ut-overlay-menu-align-left .ut-overlay-menu-row {
    text-align: left;
}

#ut-overlay-menu.ut-overlay-menu-align-center .ut-overlay-menu-row {
    text-align: center;
}

#ut-overlay-menu.ut-overlay-menu-align-right .ut-overlay-menu-row {
    text-align: right;
}

#ut-overlay-nav.ut-overlay-nav-top {
    vertical-align: top;
    padding-top: 160px;
}

#ut-overlay-nav.ut-overlay-nav-middle {
    vertical-align: middle;
}

#ut-overlay-nav.ut-overlay-nav-bottom {
    vertical-align: bottom;
    padding-bottom: 40px;
}                

/* Overlay Footer Area */
#ut-overlay-menu-footer {
    height: 24px;
}

#ut-overlay-menu-footer .ut-overlay-menu-cell {
    width: 50%;
    display: block;
    box-sizing: border-box;
    float: left;
}

.ut-overlay-footer-icons {
    margin: 0;
}

.ut-overlay-footer-icons li {
    display: inline-block;
    margin-right: 20px;
}

.ut-overlay-footer-icons li a i {
    font-size: 16px;
}

.ut-overlay-footer-icons-wrap {
    text-align: left;
}

.ut-overlay-copyright {
    text-align: right;
    font-size: 12px;
}

.ut-overlay-menu-reverse-on #ut-overlay-menu-footer .ut-overlay-footer-icons-wrap {
    float: right;
    text-align: right;
}

.ut-overlay-menu-reverse-on #ut-overlay-menu-footer .ut-overlay-footer-icons li {
    margin-right: 0;
    margin-left: 20px;
}

.ut-overlay-menu-reverse-on #ut-overlay-menu-footer .ut-overlay-copyright {
    text-align: left;                    
}
.ut-overlay-menu,
#ut-overlay-nav li a,
.ut-overlay-footer-icons-wrap,
.ut-overlay-copyright {
  animation-duration: 0.4s;
  animation-fill-mode: both;
}
@media (max-width: 767px) {
.ut-hamburger-wrap {
    height: 60px;
}
}

.ut-hamburger {
    display: inline-block;
    background: transparent;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 32px;
    font-size: 0;
    text-indent: -9999px;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: opacity 400ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}
.ut-hamburger:hover,  .ut-hamburger:active,  .ut-hamburger:focus {
    background: transparent;
}
.ut-hamburger:focus {
    outline: none;
}
.ut-hamburger span {
    display: block;
    position: absolute;
    top: 14px;
    left: 6px;
    right: 6px;
    height: 3px;
    background: white;
}
.ut-hamburger span::before,  .ut-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    content: "";
}
.ut-hamburger span::before {
    top: -7px;
}
.ut-hamburger span::after {
    bottom: -7px;
}


.ut-hamburger--cross span {
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}
.ut-hamburger--cross span::before,  .ut-hamburger--cross span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}


